<%
	@bodyClass = "fullwidth"

	mobile  = "//placehold.it/" + 720*2 + "x" + (720*(9/16))*2 + "?text=MOBILE-720x" + (720*(9/16))
	tablet  = "//placehold.it/" + 1024*2 + "x" + (1024*(9/16))*2 + "?text=TABLET-1024x" + (1024*(9/16))
	desktop = "//placehold.it/" + 1440*2+ "x" + (1440*(9/16))*2 + "?text=DESKTOP-1440x" + (1440*(9/16))
%>
<section class="mod-image">
	<picture>
		<source srcset="<%- mobile %>" media="(max-width: 720px)" />
		<source srcset="<%- tablet %>" media="(max-width: 1024px)" />
		<source srcset="<%- desktop %>" media="(min-width: 1024px)" />
		<img src="<%- desktop %>" class="img alt="" />
	</picture>
	<!-- <img srcset="<%- mobile %> <%- 720*2 %>w, <%- tablet %> <%- 1024*2 %>w, <%- desktop %> <%- 1440*2 %>w" sizes="(max-width: 720px) 100vw,(min-width: 720px) 100vw,(min-width: 1024px) 100vw" src="<%- desktop %>" class="img alt="" /> -->
</section>
