---
name: Colleagues
---
<section className="mod-colleagues">
	<div className="frame">
		<ol className="cards">
			{
			props.children &&
				React.Children.map(props.children, child => (
					<li className="item invert" style={{backgroundImage: "url('//placehold.it/2880x910/1C1F26/15171D/&text=1440x455');"}}>
						<blockquote className="quote">
							<h3 className="sub h4"><cite>John Doe</cite></h3>
							<p className="scopy">Mitarbeiter</p>
							<p className="copy">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
						</blockquote>
						<ElementCard/>
						<Schema
							name="John Doe"
							jobTitle="Mitarbeiter"
							worksFor="SinnerSchrader Deutschland GmbH"
							urls={["https://sinnerschrader.com", "https://facebook.com/john.doe", "https://twitter.com/john.doe", "https://xing.com/john.doe"]}
							email=""
							telephone=""
							image=""
							streetAddress="Völckersstr. 38"
							addressLocality="Hamburg"
							postalCode="22765"
							addressCountry="Deutschland"
							/>
					</li>
				))
			}
		</ol>
	</div>
	<ElementPager>
		{props.children}
	</ElementPager>
</section>
