<section class="mod-gallery">
	<div class="frame">
		<ul class="images" style="transform: translate(-<%- 100*1 %>%)"> <!-- move slides here :) -->
			<% for i in [1..7] : %>
			<li class="item">
				<figure class="figure">
					<% include './styleguide/components/element_image/template.html', { width: 1300, height: 740, bgcolor: 'B3CFCF', fgcolor: '23364F' } %>
					<figcaption class="caption h2-1">Lorem ipsum sit dolor amet</figcaption>
				</figure>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="controls">
		<li class="prev">Zurück</li>
		<li class="next">Vor</li>
	</div>
	<div class="info">Info</div>
	<% include './styleguide/components/element_pager/template.html', { active: 2 } %>
</section>
