.card {
	position: relative;
	width: 100%;
	padding: 0 0 0 40px;

	.figcaption {
		color: @s2-darkgrey2;
		.sub {
			color: @s2-black;
		}
	}

	.smn {
		position: absolute;
		left: 0;
		top: 0;
		flex-direction: column;
		.nw {
			margin-bottom: @smnDim;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.teaser {
		min-width: 217px;
	}
	
	@media @s2-mq-window-tablet {
		.teaser {
			max-width: 250px;
		}
	}

	@media @s2-mq-window-desktop {
		.teaser {
			max-width: 280px;
		}
	}


}
