<div class="card">
	<figure>
		<div class="teaser"><% include './styleguide/components/element_image/template.html', { width: 280, height: 370 } %></div>
		<% if @caption : %>
		<figcaption class="figcaption">
			<h3 class="sub h4">John Doe</h3>
			<p class="scopy">Mitarbeiter</p>
		</figcaption>
		<% end %>
	</figure>
	<% include './styleguide/components/element_smn/template.html', { items: 3 } %>
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "John Doe",
		"jobTitle": "Mitarbeiter",
		"worksFor": "SinnerSchrader Deutschland GmbH",
		"url": ["https://sinnerschrader.com", "https://facebook.com/john.doe", "https://twitter.com/john.doe", "https://xing.com/john.doe"],
		"email": "info@sinnerschrader.com",
		"telephone": "+49 40 39 88 55-0",
		"image": "//placehold.it/280x370/",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Völckersstr. 38",
			"addressLocality": "Hamburg",
			"postalCode": "22765",
			"addressCountry": "Deutschland"
		}
	}
	</script>
</div>
