<div class="card" <% unless @nestedvcard : %>itemscope="itemscope" itemtype="http://schema.org/Person"<% end %>>
	<figure>
		<div class="teaser"><% include './styleguide/components/element_image/template.html', { width: 280, height: 370, microformat: true } %></div>
		<% if @caption : %>
		<figcaption class="figcaption">
			<h3 class="sub h4" itemprop="name">John Doe</h3>
			<p class="scopy" itemprop="jobTitle">Mitarbeiter</p>
			<meta content="SinnerSchrader Deutschland GmbH" itemprop="worksFor" />
			<meta content="https://sinnerschrader.com" itemprop="url" />
		</figcaption>
		<% end %>
	</figure>
	<% include './styleguide/components/element_smn/template.html', { items: 3, microformat: true } %>
</div>
