<div class="card" <% unless @nestedvcard : %>itemscope="itemscope" itemtype="http://schema.org/Person"<% end %>>
	<figure>
		<% include './styleguide/components/element_image/template.html', { width: 280, height: 370, microformat: true } %>
		<% if @caption : %>
		<figcaption class="figcaption">
			<h3 class="sub h4" itemprop="name">John Doe</h3>
			<p class="scopy" itemprop="jobTitle">Mitarbeiter</p>
			<meta content="SinnerSchrader Deutschland GmbH" itemprop="worksFor" />
			<meta content="https://sinnerschrader.com" itemprop="url" />
		</figcaption>
		<% end %>
	</figure>
	<ul class="smn">
		<li><a href="https://linkedin.com/JohnDoe" class="linkedin" itemprop="url">LinkedIn</a></li>
		<li><a href="https://xing.com/JohnDoe" class="xing" itemprop="url">Xing</a></li>
		<li><a href="https://twitter.com/JohnDoe" class="twitter" itemprop="url">Twitter</a></li>
	</ul>
</div>
