---
name: Story2
---
<section className="mod-story2">
	<div className="details">
		<h2 className="h h2-1">Germany's most successful technology and gadget magazine</h2>
		<h3 className="sub h4">Lorem ipsum dolor sit amet, consetuer adipiscing.</h3>
		<p className="copy">Aenean commodo ligula eget dolor penatibus et magnis dis parturient montes, nascetur ridiculus mussem. </p>
		<p className="copy">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
	</div>
	<div className="teaser">
		<ElementImage
			width={545}
			height={720}
			bgcolor="D0E33A"
			fgcolor="FFF"
			/>
	</div>
</section>
