.mod-hero {
	position: relative;
	z-index: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: (@s2-moduleGap-s*2) @s2-moduleGap-s @s2-moduleGap-s @s2-moduleGap-s;
	overflow: hidden;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;

	.h {
		margin-bottom: @s2-moduleGap-s-1;
	}

	.copy,
	.h,
	.buttonrow {
		position: relative;
		z-index: 2;
	}

	@media screen and (min-height: 400px) {
		height: 90vh;
	}

	@media screen and (min-height: 100px) {
		height: 75vh;
	}

	@media screen and (min-height: 1200px) {
		height: 60vh;
	}

	@media @s2-mq-window-tablet {
		.h,
		.copy {
			margin-bottom: @s2-moduleGap-m-1;
		}
	}

	@media @s2-mq-window-desktop {
		.h,
		.copy {
			margin-bottom: @s2-moduleGap-l-1;
		}
	}
}
