---
name: Hero
---
<section
	className={helpers.classNames({'mod-hero': true, 'invert': props.invert})}
	data-explode={props.explode}
	data-halfling={props.halfling}
	data-theme={props.theme}
	>
	<div
		className={helpers.classNames({'blend-picture': true, blend: props.blend})}
		role="presentation"
		>
		{
			props.imageSrcS &&
				<div className="picture-s">
					<div className="motive" style={{backgroundImage: `url(${props.imageSrcS})`}}/>
				</div>
		}
		{
			props.imageSrcM &&
				<div className="picture-m">
					<div className="motive" style={{backgroundImage: `url(${props.imageSrcM})`}}/>
				</div>
		}
		{
			props.imageSrcL &&
				<div className="picture-l">
					<div className="motive" style={{backgroundImage: `url(${props.imageSrcL})`}}/>
				</div>
		}
	</div>
	{
		props.headline &&
			<Text
				Tagname="p"
				className="h h1"
				text={props.headline}
				/>
	}
	{
		props.copy &&
			<Text
				Tagname="p"
				className="copy"
				text={props.copy}
				/>
	}
	{
		(props.buttonLabel && props.buttonHref) &&
			<div className="buttonrow">
				<ElementButton label={props.buttonLabel} href={props.buttonHref}/>
			</div>
	}
</section>
