---
name: Hero
---
<section
	className={`mod-hero ${props.invert ? 'invert' : ''}`}
	data-explode={props.explode}
	data-theme={props.theme}
	>
	<div
		className={`blend-picture ${props.blend ? 'blend' : ''}`}
		role="presentation"
		>
		{
			props.imageSrcS &&
				<div className="picture-s">
					<div className="motive" style={{backgroundImage: `url(${props.imageSrcS})`}}/>
				</div>
		}
		{
			props.imageSrcM &&
				<div className="picture-m">
					<div className="motive" style={{backgroundImage: `url(${props.imageSrcM})`}}/>
				</div>
		}
		{
			props.imageSrcL &&
				<div className="picture-l">
					<div className="motive" style={{backgroundImage: `url(${props.imageSrcL})`}}/>
				</div>
		}
	</div>
	{
		props.headline &&
			<p className="h h1">
				{props.headline}
			</p>
	}
	{
		props.copy &&
			<p className="copy">
				{props.copy}
			</p>
	}
	{
		(props.buttonLabel && props.buttonHref) &&
			<div className="buttonrow">
				<ElementButton label={props.buttonLabel} href={props.buttonHref}/>
			</div>
	}
</section>
