.mod-teaser {

	.meta {
		position: relative;
		z-index: 1;
		padding: @s2-moduleGap-s-1/2 @s2-moduleGap-s-1 @s2-moduleGap-s-1;
		margin-top: -@s2-moduleGap-s-1;
		margin-right: @s2-moduleGap-s-1;
		background: @s2-white;
	
		.time {
			display: block;
		}
		.cat {
			color: @s2-darkgrey2;
			margin-bottom: @s2-moduleGap-s-1;
		}
	}

	//	@media @s2-mq-window-tablet {
	//		.meta {
	//			padding: @s2-moduleGap-m-1/2 @s2-moduleGap-m-1 @s2-moduleGap-m-1;
	//			margin-top: -@s2-moduleGap-m-1;
	//			margin-right: @s2-moduleGap-m-1;
	//			.cat {
	//				margin-bottom: @s2-moduleGap-m-1;
	//			}
	//		}
	//	}
	//
	//	@media @s2-mq-window-desktop {
	//		.meta {
	//			padding: @s2-moduleGap-l-1/2 @s2-moduleGap-l-1 @s2-moduleGap-l-1;
	//			margin-top: -@s2-moduleGap-l-1;
	//			margin-right: @s2-moduleGap-l-1;
	//			.cat {
	//				margin-bottom: @s2-moduleGap-l-1;
	//			}
	//		}
	//	}
}
