sudo: false
language: node_js
node_js:
- '6'
cache:
  directories:
  - node_modules
notifications:
  email:
    on_success: never

env:
  global:
  - ENCRYPTION_LABEL: "68be772c97c4"
  - COMMIT_AUTHOR_EMAIL: "markus.wolf@sinnerschrader.com"

script: bash ./deploy.sh
