.mod-quotetext {
	padding: @s2-moduleGap-s-2 @s2-moduleGap-s-2 @s2-moduleGap-s-2 @s2-moduleGap-s-1;
	
	.quote {
		&::after {
			display: block;
			content: " ";
			width: 10%;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: inherit;
		}
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-3 @s2-moduleGap-m-3 @s2-moduleGap-m-3 @s2-moduleGap-m-2;
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-3 @s2-moduleGap-l-3 @s2-moduleGap-l-3 @s2-moduleGap-l-2;

	}
}
