<section className="mod-clients invert">
	<h2 className="h h2-2">Kunden</h2>
	<ul className="clientslist">
		<li className="item" style={{backgroundImage: "url('//placehold.it/110x110/fff/000/&text=55x55')"}}>Marke</li>
		<li className="item" style={{backgroundImage: "url('//placehold.it/110x110/fff/000/&text=55x55')"}}>Marke</li>
		<li className="item" style={{backgroundImage: "url('//placehold.it/110x110/fff/000/&text=55x55')"}}>Marke</li>
		<li className="item" style={{backgroundImage: "url('//placehold.it/220x110/fff/000/&text=110x55')"}}>Marke</li>
		<li className="item" style={{backgroundImage: "url('//placehold.it/220x110/fff/000/&text=110x55')"}}>Marke</li>
		<li className="item" style={{backgroundImage: "url('//placehold.it/220x110/fff/000/&text=110x55')"}}>Marke</li>
	</ul>
</section>
