<section className="mod-investerrelations">
	<h2 className="h h2-2">Investor Relations</h2>
	<div className="about">
		<p className="copy">
			<span className="h5">SinnerSchrader AG shares (WKN 514 190 / ISIN DE0005141907) were admitted to the Frankfurt Stock Exchange in 1999.</span> They are traded in the Regulated Market subsection and since 2003 in the Prime Standard section. Trust, transparency and constancy are the guidelines for shareholder relations at SinnerSchrader. They are based on the rules of good and transparent corporate governance, in accordance with the standards laid down in the German Corporate Governance Code.
		</p>
		<p className="copy">
			All relevant information on SinnerSchrader shares is available at<br />
			<a href="https://sinnerschrader.ag" className="h4 link" target="_blank">sinnerschrader.ag</a>
		</p>
	</div>
	<address className="details">
		<h3 className="sub h5">Your contact</h3>
		Thomas Dyckhoff<br />
		Chief Financial Officer<br />
		SinnerSchrader AG<br />
		+49 40 39 88 55-0<br />
		<a href="mailto:ir@sinnerschrader.com" className="h4 link">ir@sinnerschrader.com</a>
	</address>
	<script type="application/ld+json" dangerouslySetInnerHTML={{__html: `
	{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "Thomas Dyckhoff",
		"jobTitle": "CFO",
		"worksFor": "SinnerSchrader AG",
		"url": "https://sinnerschrader.com",
		"email": "ir@sinnerschrader.com",
		"telephone": "+49 40 39 88 55-801",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Völckersstr. 38",
			"addressLocality": "Hamburg",
			"postalCode": "22765",
			"addressCountry": "Deutschland"
		}
	}
	`}}>
	</script>
</section>
