<div>
	{
	!props.withMap &&
		<section className="mod-locations" data-locations>
			<ol className="locnav">
				<li className="locnav-item">
					<button className="link locnav-btn js_chooseLocation" data-location="berlin">Berlin</button>
				</li>
				<li className="locnav-item">
					<button className="link locnav-btn js_chooseLocation" data-location="frankfurt">Frankfurt</button>
				</li>
				<li className="locnav-item">
					<button className="link locnav-btn is-active js_chooseLocation" data-location="hamburg">Hamburg</button>
				</li>
				<li className="locnav-item">
					<button className="link locnav-btn js_chooseLocation" data-location="munich">München</button>
				</li>
				<li className="locnav-item">
					<button className="link locnav-btn js_chooseLocation" data-location="prague">Prag</button>
				</li>
			</ol>

			<div className="location-address is-active" data-location="hamburg">
				<h3 className="city h3">Hamburg</h3>
				<ol className="location-address-list">
					<li className="location-address-item">
						<h4 className="h4">SinnerSchrader</h4>
						<p className="copy">
							Völckersstr. 38<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</li>
					<li className="location-address-item">
						<h4 className="h4">SinnerSchrader Swipe</h4>
						<p className="copy">
							Pilatuspool 2<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</li>
					<li className="location-address-item">
						<h4 className="h4">SinnerSchrader Commerce</h4>
						<p className="copy">
							Schäferkampsallee 16<br />
							20357 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</li>
				</ol>
			</div>
			<div className="location-address" data-location="berlin">
				<h3 className="city h3">Berlin</h3>
				<h4 className="h4">SinnerSchrader</h4>
				<p className="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div className="location-address" data-location="frankfurt">
				<h3 className="city h3">Frankfurt</h3>
				<h4 className="h4">SinnerSchrader</h4>
				<p className="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div className="location-address" data-location="munich">
				<h3 className="city h3">München</h3>
				<h4 className="h4">SinnerSchrader</h4>
				<p className="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div className="location-address" data-location="prague">
				<h3 className="city h3">Prag</h3>
				<h4 className="h4">SinnerSchrader</h4>
				<p className="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
		</section>
	}
	{
	props.withMap &&
		<section className="mod-locations mod-locations-map" data-locations>
			<h2 className="h h2-1">Locations</h2>
			<figure className="figure" data-location="hamburg">
				<ol className="locnav locnav-highlight">
					<li className="locnav-item">
						<button className="link locnav-btn js_chooseLocation" data-location="berlin">Berlin</button>
					</li>
					<li className="locnav-item">
						<button className="link locnav-btn js_chooseLocation" data-location="frankfurt">Frankfurt</button>
					</li>
					<li className="locnav-item">
						<button className="link locnav-btn is-active js_chooseLocation" data-location="hamburg">Hamburg</button>
					</li>
					<li className="locnav-item">
						<button className="link locnav-btn js_chooseLocation" data-location="munich">München</button>
					</li>
					<li className="locnav-item">
						<button className="link locnav-btn js_chooseLocation" data-location="prague">Prag</button>
					</li>
				</ol>
				<a
					data-marker="Völckersstr. 38"
					data-location="hamburg"
					className="map is-active"
					href="https://www.google.de/maps/place/SinnerSchrader/@53.5570936,9.9264012,15z"
					target="_blank"
					>
					<ElementImage
						width={1000}
						height={1000}
						url="https://maps.googleapis.com/maps/api/staticmap?center=53.557142,9.9263729&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
						/>
				</a>
				<a
					data-marker="Friedenstraße 91"
					data-location="berlin"
					className="map"
					href="https://www.google.de/maps/place/SinnerSchrader+Mobile+GmbH/@52.522018,13.43695,15z"
					target="_blank"
					>
					<ElementImage
						width={1000}
						height={1000}
						url="https://maps.googleapis.com/maps/api/staticmap?center=52.522018,13.43695&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
						/>
				</a>
				<a
					data-marker="Schackstraße 3"
					data-location="munich"
					className="map"
					href="https://www.google.de/maps/place/SinnerSchrader/@48.1520709,11.5837607,15z"
					target="_blank"
					>
					<ElementImage
						width={1000}
						height={1000}
						url="https://maps.googleapis.com/maps/api/staticmap?center=48.1520709,11.5837607&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
						/>
				</a>
				<a
					data-marker="U Pergamenky 1522/2"
					data-location="prague"
					className="map"
					href="https://www.google.de/maps/place/SinnerSchrader/@50.1084454,14.4526135,15z"
					target="_blank"
					>
					<ElementImage
						width={1000}
						height={1000}
						url="https://maps.googleapis.com/maps/api/staticmap?center=50.1084454,14.4526135&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
						/>
				</a>
				<a
					data-marker="Hanauer Landstraße 181"
					data-location="frankfurt"
					className="map"
					href="https://www.google.de/maps/place/SinnerSchrader/@50.113685,8.7171673,15z"
					target="_blank"
					>
					<ElementImage
						width={1000}
						height={1000}
						url="https://maps.googleapis.com/maps/api/staticmap?center=50.113685,8.7171673&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
						/>
				</a>
				<figcaption>
					<div className="location-address is-active" data-location="hamburg">
						<h3 className="city h3">Hamburg</h3>
						<h4 className="h4">SinnerSchrader</h4>
						<p className="copy">
							Völckersstr. 38<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>

						<h4 className="h4">SinnerSchrader Swipe</h4>
						<p className="copy">
							Pilatuspool 2<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>

						<h4 className="h4">SinnerSchrader Commerce</h4>
						<p className="copy">
							Pilatuspool 2<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</div>
					<div className="location-address" data-location="berlin">
						<h3 className="city h3">Berlin</h3>
						<h4 className="h4">SinnerSchrader</h4>
						<p className="copy">
							Völckersstr. 38<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</div>
					<div className="location-address" data-location="frankfurt">
						<h3 className="city h3">Frankfurt</h3>
						<h4 className="h4">SinnerSchrader</h4>
						<p className="copy">
							Völckersstr. 38<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</div>
					<div className="location-address" data-location="munich">
						<h3 className="city h3">München</h3>
						<h4 className="h4">SinnerSchrader</h4>
						<p className="copy">
							Völckersstr. 38<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</div>
					<div className="location-address" data-location="prague">
						<h3 className="city h3">Prag</h3>
						<h4 className="h4">SinnerSchrader</h4>
						<p className="copy">
							Völckersstr. 38<br />
							22765 Hamburg<br />
							+49 40 39 88 55 - 0
						</p>
					</div>
				</figcaption>
			</figure>
		</section>
	}
</div>
