  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="UTF-8" />
  <title>s2</title>
  <meta name="viewport" content="width=device-width,user-scalable=no" />

<!--
  // Run the web page in full screen mode when launched from the home screen icon.
  // The address bar and component bar at top and bottom of the browser wil be hidden
  // Website needs to be a one page app. Regular navigating will open the link in Safari
  // A native-app-like startup image can be used: 320x480, 768x1004, 1024x748
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black|black-translucent" />
  <link rel="apple-touch-startup-image" href="/images/startups/1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait)  and (-webkit-device-pixel-ratio: 2)"> // iPad (retina, portrait)
  <link rel="apple-touch-startup-image" href="/images/startups/1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"> // iPad (retina, landscape)
  <link rel="apple-touch-startup-image" href="/images/startups/768x1004.png"  media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait)  and (-webkit-device-pixel-ratio: 1)"> // iPad (portrait)
  <link rel="apple-touch-startup-image" href="/images/startups/748x1024.png"  media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"> // iPad (landscape)
  <link rel="apple-touch-startup-image" href="/images/startups/1242x2148.png" media="(device-width: 414px) and (device-height: 736px)  and (orientation: portrait)  and (-webkit-device-pixel-ratio: 3)"> // iPhone 6+ Portrait
  <link rel="apple-touch-startup-image" href="/images/startups/1182x2208.png" media="(device-width: 414px) and (device-height: 736px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)"> // iPhone 6+ Landscape
  <link rel="apple-touch-startup-image" href="/images/startups/750x1294.png"  media="(device-width: 375px) and (device-height: 667px)  and (orientation: portrait)  and (-webkit-device-pixel-ratio: 2)"> // iPhone 6
  <link rel="apple-touch-startup-image" href="/images/startups/640x1096.png"  media="(device-width: 320px) and (device-height: 568px)  and (-webkit-device-pixel-ratio: 2)"> // iPhone 5
  <link rel="apple-touch-startup-image" href="/images/startups/640x920.png"   media="(device-width: 320px) and (device-height: 480px)  and (-webkit-device-pixel-ratio: 2)"> // iPhone (retina)
  <link rel="apple-touch-startup-image" href="/images/startups/320x460.png"   media="(device-width: 320px) and (device-height: 480px)  and (-webkit-device-pixel-ratio: 1)"> // iPhone


  // Show Smart App Banner for iOS App (iOS Safari only)
  <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL" />

  // disable format detection
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="address=no" />

  // activate smooothing fonts for easy reading on mobile IE with ClearType
  <meta http-equiv="cleartype" content="on" />


  // SEO MetaTags
  <meta name="language" content="de-DE" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="revisit-after" content="7 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="" />
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  <meta name="version" content="" />


  // Facebeook/Google+ OpenGraph
  // http://opengraphprotocol.org
  // https://developers.facebook.com/docs/reference/opengraph/object-type/
  // https://developers.facebook.com/docs/payments/product/
  // use for website, product, fitness, music, video, books, place, article, profile, object
  <meta property="fb:admins" content="" />
  <meta property="fb:page_id" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  // Twitter Card: https://dev.twitter.com/docs/cards/
  // use for Summary, Gallery, App, Player, Product
  <meta name="twitter:card" content="product" />
  <meta name="twitter:url" content="https://twitter.siglercompanies.com" />
  <meta name="twitter:site" content="@twitter" />
  <meta name="twitter:creator" content="@twitter" />
  <meta name="twitter:title" content="Logo Mug" />
  <meta name="twitter:description" content="The perfect pick-me-up. Enjoy your favorite blend with this coffee mug featuring the Twitter logo. Make every work day good to the last drop." />
  <meta name="twitter:image" content="https://twitter.siglercompanies.com/graphics/00000001/mug-new.jpg" />
  <meta name="twitter:data1" content="$3" />
  <meta name="twitter:label1" content="Price" />
  <meta name="twitter:data2" content="Black" />
  <meta name="twitter:label2" content="Color" />

  // Pinned Sites allow your users to keep their favorite websites open, running, and easily accessible.
  // You can set the icon that the user sees when they pin your site by providing a vector image. Use 100% black
  // for all vectors with a transparent background in SVG format.
  // To specify the color the icon should be displayed in, add the theme-color meta element to your webpage
  <link rel="icon" sizes="any" mask="true" href="website_icon.svg" />
  <meta name="theme-color" content="#990000" />

  // Favicons and Homescreen image/titles
  // if you don't want Safari on iOS add any effects on the "Web Clip Icon" use "apple-touch-icon-precomposed" as rel
  <link rel="icon" href="/images/favicons/128x128.png" sizes="128x128" /> // Android
  <link rel="icon" href="/images/favicons/192x192.png" sizes="192x192" /> // Android HighRes
  <link rel="apple-touch-icon" href="/images/favicons/57x57.png" sizes="57x57" /> // iOS 6 iPhone
  <link rel="apple-touch-icon" href="/images/favicons/72x72.png" sizes="72x72" /> // iOS 6 iPad
  <link rel="apple-touch-icon" href="/images/favicons/76x76.png" sizes="76x76" /> // iOS 7 iPad
  <link rel="apple-touch-icon" href="/images/favicons/114x114.png" sizes="114x114" /> // iOS 6 iPhone (retina)
  <link rel="apple-touch-icon" href="/images/favicons/120x120.png" sizes="120x120" /> // iOS 7 iPhone (retina)
  <link rel="apple-touch-icon" href="/images/favicons/144x144.png" sizes="144x144" /> // iOS 6 iPad (retina)
  <link rel="apple-touch-icon" href="/images/favicons/152x152.png" sizes="152x152" /> // iOS 7 iPad (retina)
  <link rel="apple-touch-icon" href="/images/favicons/180x180.png" sizes="180x180" /> // iOS 8 iPhone (retina @3)

  <link rel="shortcut icon" href="/images/favicons/fi_favicon.ico" type="image/x-icon" />

  // iOS Bookmark Name
  <meta name="apple-mobile-web-app-title" content="Lorem ipsum">

  // Window 8 Tile Bookmark
  <meta name="application-name" content="Lorem ipsum" />
  <meta name="msapplication-TileImage" content="/images/favicons/152x152.png" />
  <meta name="msapplication-TileColor" content="#CC0000" />


  //SEO LinkTags
  <link rel="canonical" href="" />
  <link rel="copyright" href="" />
  <link rel="alternate" href="/en/html" hreflang="en" title="English HTML" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.rss" />
-->

<% content 'json-ld' %>

<link rel="stylesheet" href="<%- @base %>/css/app.css" media="screen,print" />
