<script>
	<% include './static/js/_vendor/modernizr-3.3.1-custom-min.js'         %>
	<% include './styleguide/components/module_01_hero/script.js'          %>
	<% include './styleguide/components/module_03_management/script.js'    %>
	<% include './styleguide/components/module_04_contactlist/script.js'   %>
	<% #include './styleguide/components/module_04a_colleagues/script.js'  %>
	<% #include './styleguide/components/module_04b_contact/script.js'     %>
	<% include './styleguide/components/module_05_locations/script.js'     %>
	<% include './styleguide/components/module_06_ir/script.js'            %>
	<% include './styleguide/components/module_09_follow/script.js'        %>
	<% include './styleguide/components/module_09_map/script.js'           %>
	<% include './styleguide/components/module_10_clients/script.js'       %>
	<% include './styleguide/components/module_11_image/script.js'         %>
	<% include './styleguide/components/module_14_screencast/script.js'    %>
	<% include './styleguide/components/module_21_socialshare/script.js'   %>
	<% include './styleguide/components/module_23_teaserlist/script.js'    %>
	<% include './styleguide/components/module_24_newsdetail/script.js'    %>
	<% include './styleguide/components/module_29_gallery/script.js'       %>
	<% include './styleguide/components/module_30_statement1/script.js'    %>
	<% include './styleguide/components/module_31_quotetext/script.js'     %>
	<% include './styleguide/components/module_33_quoteimage/script.js'    %>
	<% include './styleguide/components/module_34_story2/script.js'        %>
	<% include './styleguide/components/module_35_story3/script.js'        %>
	<% include './styleguide/components/module_36_statement2/script.js'    %>
	<% include './styleguide/components/module_38_outcome/script.js'       %>
	<% include './styleguide/components/module_40_navigation/script.js'    %>
</script>
