---
name: Locations
---
<section className={helpers.classNames({'mod-locations': true, 'mod-locations-map': props.withMap})} data-locations>
	<h2 className="h h2-2">Locations</h2>
	<figure className="figure">
		<input type="radio" name="location" hidden id="hamburg" className="location-check" defaultChecked />
		<input type="radio" name="location" hidden id="berlin" className="location-check" />
		<input type="radio" name="location" hidden id="frankfurt" className="location-check" />
		<input type="radio" name="location" hidden id="munich" className="location-check" />
		<input type="radio" name="location" hidden id="prague" className="location-check" />

		<ol className="locnav sctnbgclr">
			<li className="locnav-item">
				<label className="locnav-btn locnav-btn-berlin" htmlFor="berlin">Berlin</label>
			</li>
			<li className="locnav-item">
				<label className="locnav-btn locnav-btn-frankfurt" htmlFor="frankfurt">Frankfurt</label>
			</li>
			<li className="locnav-item">
				<label className="locnav-btn locnav-btn-hamburg" htmlFor="hamburg">Hamburg</label>
			</li>
			<li className="locnav-item">
				<label className="locnav-btn locnav-btn-munich" htmlFor="munich">Munich</label>
			</li>
			<li className="locnav-item">
				<label className="locnav-btn locnav-btn-prague" htmlFor="prague">Prague</label>
			</li>
		</ol>
		<a
			data-marker="Völckersstr. 38"
			className="map map-hamburg"
			href="https://www.google.de/maps/place/SinnerSchrader/@53.5571452,9.9241842,17z/data=!3m1!4b1!4m5!3m4!1s0x47b18591e7504141:0x1a57cf875d28e604!8m2!3d53.557142!4d9.9263729"
			target="_blank"
			>
			<ResponsiveImage
				imageSizes={[
					'(max-width: 720px) calc(100vw - 60px)',
					'(min-width: 720px) calc(100vw - 70px)',
					'(min-width: 1240px) calc((100vw - 200px) * 0.6)'
				].join(', ')}
				imageSrcSet={[
					props.base + '/static/images/contents/sinnerschrader-ham_300.jpg 300w',
					props.base + '/static/images/contents/sinnerschrader-ham_600.jpg 600w',
					props.base + '/static/images/contents/sinnerschrader-ham_1200.jpg 1200w'
				].join(', ')}
				imageSrc={props.base + '/static/images/contents/sinnerschrader-ham_600.jpg'}
				ratio="1"
				/>
		</a>
		<a
			data-marker="Friedenstraße 91A"
			className="map map-berlin"
			href="https://www.google.de/maps/place/SinnerSchrader+Swipe+GmbH/@52.5220212,13.4347613,17z/data=!3m1!4b1!4m5!3m4!1s0x47a84e14bda6c651:0xc73c246aab106454!8m2!3d52.522018!4d13.43695"
			target="_blank"
			>
			<ResponsiveImage
				imageSizes={[
					'(max-width: 720px) calc(100vw - 60px)',
					'(min-width: 720px) calc(100vw - 70px)',
					'(min-width: 1240px) calc((100vw - 200px) * 0.6)'
				].join(', ')}
				imageSrcSet={[
					props.base + '/static/images/contents/sinnerschrader-ber_300.jpg 300w',
					props.base + '/static/images/contents/sinnerschrader-ber_600.jpg 600w',
					props.base + '/static/images/contents/sinnerschrader-ber_1200.jpg 1200w'
				].join(', ')}
				imageSrc={props.base + '/static/images/contents/sinnerschrader-ber_600.jpg'}
				ratio="1"
				/>
		</a>
		<a
			data-marker="Schackstraße 3"
			className="map map-munich"
			href="https://www.google.de/maps/place/SinnerSchrader/@48.1520745,11.581572,17z/data=!3m1!4b1!4m5!3m4!1s0x479e744a64524ba5:0xdae97b91020bb279!8m2!3d48.1520709!4d11.5837607"
			target="_blank"
			rel="nofollow"
			>
			<ResponsiveImage
				imageSizes={[
					'(max-width: 720px) calc(100vw - 60px)',
					'(min-width: 720px) calc(100vw - 70px)',
					'(min-width: 1240px) calc((100vw - 200px) * 0.6)'
				].join(', ')}
				imageSrcSet={[
					props.base + '/static/images/contents/sinnerschrader-muc_300.jpg 300w',
					props.base + '/static/images/contents/sinnerschrader-muc_600.jpg 600w',
					props.base + '/static/images/contents/sinnerschrader-muc_1200.jpg 1200w'
				].join(', ')}
				imageSrc={props.base + '/static/images/contents/sinnerschrader-muc_600.jpg'}
				ratio="1"
				/>
		</a>
		<a
			data-marker="U Pergamenky 1522/2"
			className="map map-prague"
			href="https://www.google.de/maps/place/SinnerSchrader/@50.1084454,14.4526135,15z"
			target="_blank"
			>
			<ResponsiveImage
				imageSizes={[
					'(max-width: 720px) calc(100vw - 60px)',
					'(min-width: 720px) calc(100vw - 70px)',
					'(min-width: 1240px) calc((100vw - 200px) * 0.6)'
				].join(', ')}
				imageSrcSet={[
					props.base + '/static/images/contents/sinnerschrader-pra_300.jpg 300w',
					props.base + '/static/images/contents/sinnerschrader-pra_600.jpg 600w',
					props.base + '/static/images/contents/sinnerschrader-pra_1200.jpg 1200w'
				].join(', ')}
				imageSrc={props.base + '/static/images/contents/sinnerschrader-pra_600.jpg'}
				ratio="1"
				/>
		</a>
		<a
			data-marker="Hanauer Landstraße 181"
			className="map map-frankfurt"
			href="https://www.google.de/maps/place/SinnerSchrader/@50.1136884,8.7149786,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd0bfa1014b789:0xe4bed44fc61a4e8f!8m2!3d50.113685!4d8.7171673"
			target="_blank"
			>
			<ResponsiveImage
				imageSizes={[
					'(max-width: 720px) calc(100vw - 60px)',
					'(min-width: 720px) calc(100vw - 70px)',
					'(min-width: 1240px) calc((100vw - 200px) * 0.6)'
				].join(', ')}
				imageSrcSet={[
					props.base + '/static/images/contents/sinnerschrader-fra_300.jpg 300w',
					props.base + '/static/images/contents/sinnerschrader-fra_600.jpg 600w',
					props.base + '/static/images/contents/sinnerschrader-fra_1200.jpg 1200w'
				].join(', ')}
				imageSrc={props.base + '/static/images/contents/sinnerschrader-fra_600.jpg'}
				ratio="1"
				/>
		</a>
		<div className="location-address location-hamburg">
			<h3 className="city h2-1">Hamburg</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				Völckersstr. 38<br />
				22765 Hamburg<br />
				+49 40 39 88 55 - 0<br />
				<a href="mailto:info@sinnerschrader.com" className="h4 link">info@sinnerschrader.com</a>
			</p>

			<h4 className="h4">SinnerSchrader Swipe</h4>
			<p className="copy">
				Pilatuspool 2<br />
				20355 Hamburg<br />
				+49 40 60 94 56 - 40<br />
				<a href="mailto:swipe@sinnerschrader.com" className="h4 link">swipe@sinnerschrader.com</a>
			</p>

			<h4 className="h4">SinnerSchrader Commerce</h4>
			<p className="copy">
				Schäferkampsallee 16<br />
				20357 Hamburg<br />
				+49 40 24 82 88 00<br />
				<a href="mailto:commerce@sinnerschrader.com" className="h4 link">commerce@sinnerschrader.com</a>
			</p>
		</div>
		<div className="location-address location-berlin" data-location="berlin">
			<h3 className="city  h2-1">Berlin</h3>
			<h4 className="h4">SinnerSchrader Swipe</h4>
			<p className="copy">
				Friedenstr. 91a<br />
				10249 Berlin<br />
				+49 30 34 65 59 45 - 0<br />
				<a href="mailto:swipe@sinnerschrader.com" className="h4 link">swipe@sinnerschrader.com</a>
			</p>
		</div>
		<div className="location-address location-frankfurt">
			<h3 className="city  h2-1">Frankfurt</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				Hanauer Landstr. 181<br />
				60314 Frankfurt/Main<br />
				+49 69 42 72 64 50 - 0<br />
				<a href="mailto:info@sinnerschrader.com" className="h4 link">info@sinnerschrader.com</a>
			</p>
		</div>
		<div className="location-address location-munich">
			<h3 className="city  h2-1">Munich</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				Schackstr. 3<br />
				80539 Munich<br />
				+49 89 20 60 26 - 800<br />
				<a href="mailto:info@sinnerschrader.com" className="h4 link">info@sinnerschrader.com</a>
			</p>
		</div>
		<div className="location-address location-prague">
			<h3 className="city h2-1">Prague</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				U Pergamenky 1522/2<br />
				Czech Republic 7 Prague<br />
				+420 77 67 74 727<br />
				<a href="mailto:info@sinnerschrader.com" className="h4 link">info@sinnerschrader.com</a>
			</p>
		</div>
	</figure>
</section>
