---
name: Locations
---
<section className={helpers.classNames({'mod-locations': true, 'mod-locations-map': props.withMap})} data-locations>
	<h2 className="h h2-2">Locations</h2>
	<figure className="figure">
		<input type="radio" name="location" hidden id="hamburg" className="location-check" defaultChecked />
		<input type="radio" name="location" hidden id="berlin" className="location-check" />
		<input type="radio" name="location" hidden id="frankfurt" className="location-check" />
		<input type="radio" name="location" hidden id="munich" className="location-check" />
		<input type="radio" name="location" hidden id="prague" className="location-check" />

		<ol className="locnav sctnbgclr">
			<li className="locnav-item">
				<label className="link locnav-btn locnav-btn-berlin" htmlFor="berlin">Berlin</label>
			</li>
			<li className="locnav-item">
				<label className="link locnav-btn locnav-btn-frankfurt" htmlFor="frankfurt">Frankfurt</label>
			</li>
			<li className="locnav-item">
				<label className="link locnav-btn locnav-btn-hamburg" htmlFor="hamburg">Hamburg</label>
			</li>
			<li className="locnav-item">
				<label className="link locnav-btn locnav-btn-munich" htmlFor="munich">Munich</label>
			</li>
			<li className="locnav-item">
				<label className="link locnav-btn locnav-btn-prague" htmlFor="prague">Prague</label>
			</li>
		</ol>
		<a
			data-marker="Völckersstr. 38"
			className="map map-hamburg"
			href="https://www.google.de/maps/place/SinnerSchrader/@53.5570936,9.9264012,15z"
			target="_blank"
			>
			<ElementImage
				width={1000}
				height={1000}
				url="https://maps.googleapis.com/maps/api/staticmap?center=53.557142,9.9263729&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
				/>
		</a>
		<a
			data-marker="Friedenstraße 91"
			className="map map-berlin"
			href="https://www.google.de/maps/place/SinnerSchrader+Mobile+GmbH/@52.522018,13.43695,15z"
			target="_blank"
			>
			<ElementImage
				width={1000}
				height={1000}
				url="https://maps.googleapis.com/maps/api/staticmap?center=52.522018,13.43695&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
				/>
		</a>
		<a
			data-marker="Schackstraße 3"
			className="map map-munich"
			href="https://www.google.de/maps/place/SinnerSchrader/@48.1520709,11.5837607,15z"
			target="_blank"
			>
			<ElementImage
				width={1000}
				height={1000}
				url="https://maps.googleapis.com/maps/api/staticmap?center=48.1520709,11.5837607&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
				/>
		</a>
		<a
			data-marker="U Pergamenky 1522/2"
			className="map map-prague"
			href="https://www.google.de/maps/place/SinnerSchrader/@50.1084454,14.4526135,15z"
			target="_blank"
			>
			<ElementImage
				width={1000}
				height={1000}
				url="https://maps.googleapis.com/maps/api/staticmap?center=50.1084454,14.4526135&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
				/>
		</a>
		<a
			data-marker="Hanauer Landstraße 181"
			className="map map-frankfurt"
			href="https://www.google.de/maps/place/SinnerSchrader/@50.113685,8.7171673,15z"
			target="_blank"
			>
			<ElementImage
				width={1000}
				height={1000}
				url="https://maps.googleapis.com/maps/api/staticmap?center=50.113685,8.7171673&zoom=15&scale=2&size=640x640&style=feature:all|saturation:-100|visibility:simplified&style=feature:poi|element:labels|visibility:off"
				/>
		</a>
		<div className="location-address location-hamburg">
			<h3 className="city h2-1">Hamburg</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				Völckersstr. 38<br />
				22765 Hamburg<br />
				+49 40 39 88 55 - 0
			</p>

			<h4 className="h4">SinnerSchrader Swipe</h4>
			<p className="copy">
				Pilatuspool 2<br />
				20355 Hamburg<br />
				+49 40 60 94 56 - 40
			</p>

			<h4 className="h4">SinnerSchrader Commerce</h4>
			<p className="copy">
				Schäferkampsallee 16<br />
				20357 Hamburg<br />
				+49 40 24 82 88 00
			</p>
		</div>
		<div className="location-address location-berlin" data-location="berlin">
			<h3 className="city  h2-1">Berlin</h3>
			<h4 className="h4">SinnerSchrader Swipe</h4>
			<p className="copy">
				Friedenstr. 91a<br />
				10249 Berlin<br />
				+49 30 34 65 59 45 - 0
			</p>
		</div>
		<div className="location-address location-frankfurt">
			<h3 className="city  h2-1">Frankfurt</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				Hanauer Landstr. 181<br />
				60314 Frankfurt/Main<br />
				+49 69 42 72 64 50 - 0
			</p>
		</div>
		<div className="location-address location-munich">
			<h3 className="city  h2-1">Munich</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				Schackstr. 3<br />
				80539 Munich<br />
				+49 89 20 60 26 - 800
			</p>
		</div>
		<div className="location-address location-prague">
			<h3 className="city h2-1">Prague</h3>
			<h4 className="h4">SinnerSchrader</h4>
			<p className="copy">
				U Pergamenky 1522/2<br />
				Czech Republic 7 Prague<br />
				+420 77 67 74 727
			</p>
		</div>
	</figure>
</section>
