---
name: Infographic3Hero
---
<section className="mod-infographic3-hero" data-theme={props.theme}>
	<ul className="facts sctntxtclr">
		<li className="item">
			<h2 className="h4">{props.headlineLeft} </h2>
			<p>
				{props.copyLeft}
			</p>
		</li>
		<li className="item">
			<h2 className="h4">{props.headlineRight}</h2>
			<p>
				{props.copyRight}
			</p>
		</li>
		<li className="item">
			<h2 className="h4">{props.headlineBottom}</h2>
			<p>
				{props.copyBottom}
			</p>
		</li>
	</ul>
	<svg className="infographic-no svg-fill-theme" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330 349">
		<g transform="translate(.51.35)">
			<path d="m329.2 348.6v-194.9h-42.7l-55 34.2v51.3l51.6-32.5v141.9z"/>
			<path d="m127.6.3v153.6l-84.7-153.6h-42.7v239.4h46.1v-153.5l85.7 153.5h42v-239.4z"/>
			<path d="m219.2 79.7c0 11.1 7.8 19.9 19.2 19.9s19.4-8.4 19.4-19.9c0-11.3-8-20.2-19.4-20.2-10.8.1-19.2 9.2-19.2 20.2m14.4 0c0-4.6 2.5-5.8 4.8-5.8 2.4 0 4.8 1.2 4.8 5.8 0 4.5-2.5 5.6-4.8 5.6-2.3.1-4.8-1.1-4.8-5.6"/>
		</g>
	</svg>
	<Hero
		buttonHref={props.buttonHref}
		buttonLabel={props.buttonLabel}
		copy={props.copy}
		headline={props.headline}
		buttonBg
	/>
</section>
