<%
  @bodyClass = ""
%>
<% extend './styleguide/pages/_layouts/standard.html' %>

<% include './styleguide/components/module_01_hero/template.html' %>
<% include './styleguide/components/module_03_management/template.html' %>
<% include './styleguide/components/module_04a_colleagues/template.html' %>
<% include './styleguide/components/module_04b_contact/template.html' %>
<% include './styleguide/components/module_05_locations/template.html' %>
<% include './styleguide/components/module_06_ir/template.html' %>
<% include './styleguide/components/module_07_locationintro/template.html' %>
<% include './styleguide/components/module_09_map/template.html' %>
<% include './styleguide/components/module_10_clients/template.html' %>
<% include './styleguide/components/module_02_jump/template.html' %>
