<%
  @bodyClass = ""
%>
<% extend './styleguide/pages/_layouts/standard.html' %>

<% block 'header' : %>
	<% include './styleguide/components/module_40_navigation/template.html' %>
	<% include './styleguide/components/module_01_hero/template.html' %>
<% end %>

<% include './styleguide/components/module_03_management/template.html' %>
<% include './styleguide/components/module_04_contactlist/template.html' %>
<% #include './styleguide/components/module_04a_colleagues/template.html' %>
<% #include './styleguide/components/module_04b_contact/template.html' %>
<% include './styleguide/components/module_05_locations/template.html' %>
<% include './styleguide/components/module_06_ir/template.html' %>
<% include './styleguide/components/module_09_follow/template.html' %>
<% include './styleguide/components/module_10_clients/template.html' %>
<% include './styleguide/components/module_11_image/template.html' %>
<% include './styleguide/components/module_14_screencast/template.html' %>
<% include './styleguide/components/module_21_socialshare/template.html' %>
<% include './styleguide/components/module_23_teaserlist/template.html' %>
<% include './styleguide/components/module_24_newsdetail/template.html' %>
<% include './styleguide/components/module_29_gallery/template.html' %>
<% include './styleguide/components/module_30_statement1/template.html' %>
<% include './styleguide/components/module_31_quotetext/template.html' %>
<% include './styleguide/components/module_33_quoteimage/template.html' %>
<% include './styleguide/components/module_34_story2/template.html' %>
<% include './styleguide/components/module_35_story3/template.html' %>
<% include './styleguide/components/module_36_statement2/template.html' %>
<% include './styleguide/components/module_38_outcome/template.html' %>
