---
name: Clients
---
<section className="mod-clients invert">
	{
		props.headline &&
			<h2 className="h h2-2">
				{props.headline}
			</h2>
	}
	<ul className="clientslist">
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_deutschebank.svg)`}}>Deutsche Bank</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_tui.svg)`}}>Tui</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_bmw.svg)`}}>BMW</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_audi.svg)`}}>Audi</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_ergo.svg)`}}>Ergo</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_vw.svg)`}}>VW</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_leica.svg)`}}>Leica</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_unitymedia.svg)`}}>Unitymedia</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_allianz.svg)`}}>Allianz</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_telefonica.svg)`}}>Telefonica</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_mcdonalds.svg)`}}>McDonalds</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/images/logos/icon_comdirect.svg)`}}>comdirect</li>
	</ul>
</section>
