.mod-case2 {
	display: flex;
	flex-direction: column;
	padding: @s2-moduleGap-s-2 @s2-moduleGap-s 0 @s2-moduleGap-s;

	.copy {
		margin: 0;
		padding-bottom: @s2-moduleGap-s-2;
	}

	.image {
		margin-left: -@s2-moduleGap-s;
		width: 228px;
		align-self: flex-start;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-2 @s2-moduleGap-m-2 0 @s2-moduleGap-m-2;

		.copy {
			margin: 0;
			padding-bottom: @s2-moduleGap-m-2;
		}

		.image {
			margin-left: -@s2-moduleGap-m-2;
			width: 391px;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-2 @s2-moduleGap-l 0 @s2-moduleGap-l;
		flex-direction: row-reverse;

		.copy {
			margin: 0 0 @s2-base-lineheight 0;
			padding-left: @s2-moduleGap-l-2;
		}

		.image {
			flex: 0 0 auto;
			width: 500px;
		}
	}
}
