---
name: Story3
---
<section className="mod-story3 invert">
	<blockquote className="quote h2-2 styleline sctnbrdrclr">
		{
			props.headline &&
				<Text
					Tagname="p"
					className="copy"
					text={props.headline}
					/>
		}
		{
			props.meta &&
				<Text
					Tagname="cite"
					className="cite xscopy"
					text={props.meta}
					/>
		}
	</blockquote>
	<div className="details">
		{
			props.copy &&
				<Text
					Tagname="p"
					className="copy"
					text={props.copy}
					/>
		}
	</div>
</section>
