---
name: Story3
---
<section className="mod-story3 invert" style="background-image: url('//placehold.it/2880x1600/00000000/333/&text=1440x800')">
	<blockquote className="quote h2-2 styleline sctnbrdrclr">
		<p className="copy">Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
		<cite className="cite xscopy">Project: Credit: Author</cite>
	</blockquote>
	<div className="details">
		<h2 className="h4">Detaillierte Erläuterungen, verschiedene Themen.</h2>
		<p className="copy">It’s no longer all about megabytes and millions of pixels, but rather about usefulness and style. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
	</div>
</section>
