---
name: Story2
---
<section className={helpers.classNames({'mod-story2': true, gradient: props.gradient, invert: props.invert})} data-theme={props.theme}>
	<div className="details">
		{
			props.headline &&
				<Text
					Tagname="h2"
					className="h h2-2"
					text={props.headline}
					/>
		}
		{
			props.subline &&
				<Text
					Tagname="h3"
					className="sub h4"
					text={props.subline}
					/>
		}
		{
			props.copy1 &&
				<Text
					Tagname="p"
					className="copy"
					text={props.copy1}
					/>
		}
		{
			props.copy2 &&
				<Text
					Tagname="p"
					className="copy"
					text={props.copy2}
					/>
		}
	</div>
	<div className="teaser">
		<ResponsiveImage
			imageSrcSetS={props.imageSrcS}
			imageSrcSetM={props.imageSrcM}
			imageSrcSetL={props.imageSrcL}
			imageSrc={props.imageSrcM}
			/>
	</div>
</section>
