---
name: Story2
---
<section className={helpers.classNames({'mod-story2': true, gradient: props.gradient})} data-theme={props.theme}>
	<div className="details">
		{
			props.headline &&
				<Text
					Tagname="h2"
					className="h h2-1"
					text={props.headline}
					/>
		}
		{
			props.subline &&
				<Text
					Tagname="h3"
					className="sub h4"
					text={props.subline}
					/>
		}
		{
			props.copy1 &&
				<Text
					Tagname="p"
					className="copy"
					text={props.copy1}
					/>
		}
		{
			props.copy2 &&
				<Text
					Tagname="p"
					className="copy"
					text={props.copy2}
					/>
		}
	</div>
	<div className="teaser">
		<ElementImage
			url={props.imageUrl}
			width={545}
			height={720}
			bgcolor="D0E33A"
			fgcolor="FFF"
			/>
	</div>
</section>
