@smnDim: 20px;
.smn {
	display: flex;
	.nw{
		@dim: 20px;
		width: @dim;
		height: @dim;
		#s2-tools > .ir;
		
		a{
			display: block;
			width: @dim;
			height: @dim;
		}

		.networkid {
			background: @s2-darkblack; //TODO replace me with icon
			.invert & {
				background: @s2-white;
			}
		}
	}

	@media @s2-mq-window-tablet {
		.nw{
		}
	}

	@media @s2-mq-window-desktop {
		.nw{
		}
	}

}

