---
name: Infographic3
---
<section className="mod-infographic3">
	<ul className="facts">
		<li className="item">
			<h2 className="sub h5">Business Transformation</h2>
			<p className="copy">
				Digital Agency Ranking 2016
			</p>
		</li>
		<li className="item">
			<h2 className="sub h5">Mobile</h2>
			<p className="copy">
				Digital Agency Ranking 2016
			</p>
		</li>
		<li className="item">
			<h2 className="sub h5">Recommendation</h2>
			<p className="copy">
				Brandeins Wissen<br />
				Statista Agency Research 2014
			</p>
		</li>
	</ul>
</section>
