---
name: Infographic3
---
<section className={helpers.classNames({'mod-infographic3': true, ' text-bigger': props.textBigger})} style={{backgroundImage: `url(${props.backgroundSvg})`}}>
	<ul className="facts">
		<li className="item">
			<h2 className="h5">
				{props.headlineOne}
			</h2>
			<p className="copy">
				{props.copyOne}
			</p>
		</li>
		<li className="item">
			<h2 className="h5">
				{props.headlineTwo}
			</h2>
			<p className="copy">
				{props.copyTwo}
			</p>
		</li>
		<li className="item">
			<h2 className="h5">
				{props.headlineThree}
			</h2>
			<p className="copy">
				{props.copyThree}
			</p>
		</li>
	</ul>
	<img src={props.svg} />
</section>