<section class="mod-story2">
	<div class="details">
		<h2 class="h h2-1">Germany's most successful technology and gadget magazine</h2>
		<h3 class="sub h4">Lorem ipsum dolor sit amet, consetuer adipiscing.</h3>
		<p class="copy">Aenean commodo ligula eget dolor penatibus et magnis dis parturient montes, nascetur ridiculus mussem. </p>
		<p class="copy">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
	</div>
	<div class="teaser"><% include './styleguide/components/element_image/template.html', { width: 545, height: 720, bgcolor: 'D0E33A', fgcolor: 'FFF' } %></div>
</section>
