<section class="contact" itemscope="itemscope" itemtype="http://schema.org/Person">
	<h2 class="h h2-1">Lorem ipsum sit dolor amet</h2>
	<address class="details">
		<h3 class="sub h4" itemprop="name">John Doe</h3>
		<p class="scopy" itemprop="jobTitle">Employee</p>
		<p><a href="mailto:j.doe@johndoeltd.com" class="h4 link" itemprop="email">j.doe@johndoeltd.com</a></p>
		<meta content="http://johndoeltd.com" itemprop="url" />
	</address>
	<% include './styleguide/components/element_card/template.html', { caption: false, nestedvcard: true } %>
</section>
