<section class="mod-contact" itemscope="itemscope" itemtype="http://schema.org/Person">
	<h2 class="h h2-1">Dein Ansprechpartner</h2>
	<address class="details">
		<p class="sub h4" itemprop="name">John Doe</p>
		<p class="scopy" itemprop="jobTitle">Mitarbeiter</p>
		<a href="mailto:j.doe@sinnerschrader.com" class="h4 link" itemprop="email">j.doe@sinnerschrader.com</a>
		<meta content="https://sinnerschrader.com" itemprop="url" />
	</address>
	<% include './styleguide/components/element_card/template.html', { caption: false, nestedvcard: true } %>
</section>
