<article class="mod-newsdetail">
	<% include './styleguide/components/module_22_teasertop/template.html' %>
	<% include './styleguide/components/module_24d_newshead/template.html' %>
	<% include './styleguide/components/module_24e_newscopy/template.html' %>
	<% include './styleguide/components/module_24a_newsimage/template.html' %>
	<% include './styleguide/components/module_24c_newsquote/template.html' %>
	<% include './styleguide/components/module_24b_newsparameters/template.html' %>
</article>
