.mod-socialshare {
	padding: @s2-moduleGap-s-1;
	background: @s2-red;
	
	.smn {
		justify-content: space-between;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 @s2-moduleGap-m-3;
	}

	@media @s2-mq-window-desktop {
		position: fixed;
		top: 20%;
		right: 0;
		z-index: 1;
		padding: @s2-moduleGap-l-1/2;
		
		.smn {
			flex-direction: column;
			.nw {
				margin: 0 0 @s2-moduleGap-l-1;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}
