<section class="group invert">
	<h2 class="h h2-2">SinnerSchrader Group</h2>
	<p class="copy">Nicht nur Gruppe, sondern auch Familie.</p>
	<div class="frame">
		<ul class="units">
			<li class="item"><a href="#"><% include './styleguide/components/element_image/template.html', { width: 480, height: 150, bgcolor: '00000000', fgcolor: 'FFF' } %></a></li>
			<li class="item"><a href="#"><% include './styleguide/components/element_image/template.html', { width: 480, height: 150, bgcolor: '00000000', fgcolor: 'FFF' } %></a></li>
			<li class="item"><a href="#"><% include './styleguide/components/element_image/template.html', { width: 480, height: 150, bgcolor: '00000000', fgcolor: 'FFF' } %></a></li>
		</ul>
	</div>
	<% include './styleguide/components/element_pager/template.html', { items: 3 } %>
</section>
