---
name: AboutWhat
---
<section className="mod-aboutwhat">
	<div className="intro-box sctnbrdrclr sctntxtclr">
		WE HAVE 7 SACRED RULES<br />
		TO BUILDING A GREAT<br />
		TRANSFORMATIONAL PRODUCT:
	</div>
	<div className="box box-1" data-theme="blue">
		<div className='blend-picture blend' role="presentation">
			<div className="picture-s">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26_aboutwhat_palm.jpg)`}}/>
			</div>
			<div className="picture-m">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26_aboutwhat_lap.jpg)`}}/>
			</div>
			<div className="picture-l">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26_aboutwhat_desk.jpg)`}}/>
			</div>
		</div>
		<span className="number number1">1</span>
		<h2 className="h h2-1">
			Be Human
		</h2>
		<div className="text textborder-right">
			<div className="h subline">
				User. First. Period.
			</div>
			<p>
				We put the human being first and centre. What we design solves real problems for real people.<br/>
				This razor-sharp focus is absolutely essential. Without it, you get inevitably lost in lots and lots of possibilities.
			</p>
		</div>
	</div>
	<div className="box box-2">
		<div className="number number2">
			2
		</div>
		<h2 className="h h2-1">
			Be Ambitious
		</h2>
		<div className="text textborder-left">
			<div className="h subline">
				Add 10x more value than now.
			</div>
			<p>
				Don’t increment. Jump to the next level. Transformational products change the life of your
				customers for the better. By adding a lot more value, compared to what they currently use.
				Aim for a tenfold increase.
				At least.
			</p>
		</div>
	</div>
	<div className="box box-3">
		<div className="number number3">3</div>
		<h2 className="h h2-1">Be Simple</h2>
		<div className="text">
			<div className="h subline">
				Inspire with user experiences.
			</div>
			<p>
				What the user experiences IS your product. Nothing else. Start with the customer experience
				and work backwards to the technology, as Steve Jobs famously put it. Be inspiring.
				Be delightful. Be simple.
			</p>
		</div>
	</div>

	<div className="box box-4">
		<div className='blend-picture blend' role="presentation">
			<div className="picture-s">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26-2_aboutwhat_palm.jpg)`}}/>
			</div>
			<div className="picture-m">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26-2_aboutwhat_lap.jpg)`}}/>
			</div>
			<div className="picture-l">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26-2_aboutwhat_desk.jpg)`}}/>
			</div>
		</div>
		<div className="number number4">4</div>
		<h2 className="h h2-1">
			Be Mass
		</h2>
		<div className="text textborder-right">
			<div className="h subline">
				Scale to all users and markets.
			</div>
			<p>
				It’s perfectly fine to start in a niche. But then you have to grow fast and scale your product
				beyond all borders, be it consumer segments or regional markets. All people on planet Earth are
				your potential users.
			</p>
		</div>
	</div>

	<div className="box box-5">
		<div className="number number5">5</div>
		<h2 className="h h2-1">
			Be Possible
		</h2>
		<div className="text textborder-left">
			<div className="h subline">
				Grow into a platform ecosystem.
			</div>
			<p>
				Think in platforms and ecosystems right from the beginning. The first iteration of your
				product might not be a platform. But at least it should have the built-in potential to
				grow into a platform ecosystem.
			</p>
		</div>
	</div>

	<div className="box box-6">
		<div className="number number6">6</div>
		<h2 className="h h2-1">
			Be Open
		</h2>
		<div className="text">
			<div className="h subline">
				Connect APIs and business opportunities.
			</div>
			<p>
				Deliver value through all possible channels. Make your platform available to third-party developers.
				Find business models that allow growth through creative partnerships. Sell whatever you have developed,
				including access to your platform.
			</p>
		</div>
	</div>

	<div className="box box-7">
		<div className='blend-picture blend' role="presentation">
			<div className="picture-s">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26-3_aboutwhat_palm.jpg)`}}/>
			</div>
			<div className="picture-m">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26-3_aboutwhat_lap.jpg)`}}/>
			</div>
			<div className="picture-l">
				<div className="motive" style={{backgroundImage: `url(../../static/images/backgrounds/module_26-3_aboutwhat_desk.jpg)`}}/>
			</div>
		</div>
		<div className="number number7">7</div>
		<h2 className="h h2-1">
			Be Influential
		</h2>
		<div className="text textborder-left">
			<div className="h subline">
				Be the marketing hub.
			</div>
			<p>
				You need to own your market. And your marketing. Close the marketing loop. Be your own
				marketing machine and design marketing right into your product. Make your customers
				your best ambassadors.
			</p>
		</div>
		<svg className="svg" xmlns="http://www.w3.org/2000/svg" width="204" height="230" viewBox="0 0 204 230">
			<g transform="matrix(-1 0 0 1 204 0)" fill="none" fill-rule="evenodd">
				<circle fill="#FFF" cx="129" cy="145" r="75"/>
				<circle fill="#FFF" cx="37.5" cy="42" r="37.5"/>
				<ellipse fill="#FFF" cx="117.5" cy="22.5" rx="22.5" ry="22.5"/>
				<circle fill="#FFF" cx="40" cy="215" r="15"/>
				<path d="M61.75 69.25L87 96.5M49.5 208L72 189.5M118.5 38l3.5 41" stroke="#FFF" strokeWidth="6"/>
			</g>
		</svg>
	</div>
</section>
