---
name: Case1
---
<section className={helpers.classNames({'mod-case1': true, gradient: props.gradient, invert: props.invert})} data-theme={props.theme}>
	{
		props.text1 &&
		<Text
			Tagname="p"
			className="copy copyTop"
			text={props.text1}
			bold
			/>
	}
	<div className="mod-case1__image">
		<ResponsiveImage
			freeForm
			imageSrcSetS={props.imageSrcSetS}
			imageSrcSetM={props.imageSrcSetM}
			imageSrcSetL={props.imageSrcSetL}
			imageSrc={props.imageSrcSetS}
			ratio={props.imageRatio}
			ratioS={props.imageRatioS}
			ratioM={props.imageRatioM}
			ratioL={props.imageRatioL}
			/>
	</div>
	{
		props.headline &&
		<Text
			Tagname="h2"
			className="h h2-2"
			text={props.headline}
			highlight
			/>
	}
	{
		props.text2 &&
		<Text
			Tagname="p"
			className="copy copyRight"
			text={props.text2}
			bold
			/>
	}
</section>
