---
name: Case1
---
<section className={helpers.classNames({'mod-case1': true, invert: props.invert})} data-theme={props.theme}>
	{
		props.text1 &&
		<Text
			Tagname="p"
			className="copy copyTop"
			text={props.text1}
			bold
			/>
	}

	<ResponsiveImage
		imageSrcSetS={props.imageSrcSetS}
		imageSrcSetM={props.imageSrcSetM}
		imageSrcSetL={props.imageSrcSetL}
		imageSrc={props.imageSrcSetS}
		/>
	{
		props.headline &&
		<Text
			Tagname="h2"
			className="h h2-2"
			text={props.headline}
			highlight
			/>
	}
	{
		props.text2 &&
		<Text
			Tagname="p"
			className="copy copyRight"
			text={props.text2}
			bold
			/>
	}
</section>
