---
name: Follow
---
<section className="mod-follow invert">
	<h2 className="h xscopy">Follow SinnerSchrader</h2>
	<SocialMediaNetwork
		base={props.base}
		twitterUrl="https://twitter.com/sinnerschrader"
		twitterTitle="Follow SinnerSchrader on Twitter"
		facebookUrl="https://www.facebook.com/SinnerSchrader"
		facebookTitle="Like SinnerSchrader on Facebook"
		linkedInUrl="https://www.linkedin.com/company/sinnerschrader"
		linkedInTitle="Connect with SinnerSchrader on LinkedIn"
		mediumUrl="https://medium.com/still-day-one"
		mediumTitle="Follow SinnerSchrader on Medium"
		dribbbleUrl="https://dribbble.com/S2Creatives"
		dribbbleTitle="Follow S2Creative on dribbble"
		githubUrl="https://github.com/sinnerschrader/"
		githubTitle="Follow SinnerSchrader on github"
		/>
</section>
