---
name: Head
---
<head>
	{/*<!-- Google Tag Manager -->*/}
	<script dangerouslySetInnerHTML={helpers.googleTagManager()} />
	{/*<!-- End Google Tag Manager -->*/}
	<link rel="canonical" href={props.host + props.href} />
	<meta httpEquiv="X-UA-Compatible" content="IE=Edge" />
	<meta charSet="UTF-8" />
	<title>{props.title || 'SinnerSchrader'}</title>
	<meta name="viewport" content="width=device-width,user-scalable=no" />

	<meta name="language" content="en" />
	<meta
		name="description"
		content={[
			`Sinnerschrader is one of Europes leading digital agencies for brands`,
			`with a serious digital agenda`
		].join(' ')}
		/>
	<meta name="robots" content="index,follow" />

	<meta property="fb:page_id" content="SinnerSchrader" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="SinnerSchrader" />
	<meta property="og:url" content={props.host} />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content={props.host} />
	<meta name="twitter:site" content="@sinnerschrader" />
	<meta name="twitter:creator" content="@sinnerschrader" />
	<meta name="twitter:title" content="sinnerschrader" />
	<meta
		name="twitter:description"
		content={[
			`Sinnerschrader is one of Europes leading digital agencies for brands`,
			`with a serious digital agenda`
		].join(' ')}
		/>

	<link rel="preload" href={props.base + '/static/fonts/maisonweb-regular.woff2'} as="font" type="font/woff2"/>
	<link rel="preload" href={props.base + '/static/css/fonts.css'} as="style"/>
	<link rel="preload" href={props.base + '/static/css/app.css'} as="style"/>
	<link rel="dns-prefetch" href={props.host}/>
	<link rel="preconnect" href={props.host}/>
	<link rel="preconnect" href="https://sinnerschrader.jobs"/>
	<link rel="preconnect" href="https://sinnerschrader.news"/>

	<link
		rel="stylesheet"
		href={props.base + '/static/css/fonts.css'}
		media="screen,print"
		/>
	<link
		rel="stylesheet"
		href={props.base + '/static/css/app.css'}
		media="screen,print"
		/>
	<link
		rel="icon"
		href={props.base + '/static/images/favicons/48x48.png'}
		sizes="48x48"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/57x57.png'}
		sizes="57x57"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/72x72.png'}
		sizes="72x72"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/76x76.png'}
		sizes="76x76"
		/>
	<link
		rel="icon"
		href={props.base + '/static/images/favicons/96x96.png'}
		sizes="96x96"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/114x114.png'}
		sizes="114x114"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/120x120.png'}
		sizes="120x120"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/144x144.png'}
		sizes="144x144"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/152x152.png'}
		sizes="152x152"
		/>
	<link
		rel="apple-touch-icon"
		href={props.base + '/static/images/favicons/180x180.png'}
		sizes="180x180"
		/>
	<link
		rel="icon"
		href={props.base + '/static/images/favicons/192x192.png'}
		sizes="192x192"
		/>
	<link
		rel="shortcut icon"
		href={props.base + '/static/images/favicons/favicon.ico'}
		type="image/x-icon"
		/>
	{props.children}
</head>
