---
name: Infographic1
---
<section className="mod-infographic1">
	<ul className="listMenu">
		<Infographic1ListEntry
				id="construct"
				label="Construct"
				checked
			>
			<li>Service Design</li>
			<li>Concept Development</li>
			<li>Interaction Design</li>
			<li>Visual Design</li>
			<li>Digital Identity</li>
			<li>Product Design</li>
			<li>Prototyping & Testing</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="code"
				label="Code"
			>
			<li>Technical Architecture</li>
			<li>Frontend Development</li>
			<li>Application Development</li>
			<li>E-Commerce Frameworks</li>
			<li>Content Management</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="commerce"
				label="Commerce"
			>
			<li>End-to-End Consulting</li>
			<li>Branded Commerce</li>
			<li>Custom Development</li>
			<li>E-Commerce Frameworks</li>
			<li>Operation</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="continuity"
				label="Continuity"
			>
			<li>Hosting</li>
			<li>24/7 Application Management</li>
			<li>PAAS (Twirl)</li>
			<li>Full managed Services</li>
			<li>Helpdesk</li>
		</Infographic1ListEntry>
	</ul>
</section>
