---
name: Infographic1
---
<section className="mod-infographic1">
	<ul className="listMenu">
		<Infographic1ListEntry
				id="change"
				label="Change"
			>
			<li>Research & Insights</li>
			<li>Digital Positioning</li>
			<li>Measurement & Analytics</li>
			<li>Data Science & AI</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="construct"
				label="Construct"
				>
			<li>Service Design</li>
			<li>Concept Development</li>
			<li>Interaction DesingVisual Design</li>
			<li>Digital Identity</li>
			<li>Product Design</li>
			<li>Prototyping & Testing</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="code"
				label="Code"
			>
			<li>Technical Architecture</li>
			<li>Frontend Development</li>
			<li>Application Development</li>
			<li>E-Commerce Frameworks</li>
			<li>Content Management</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="campaign"
				label="Campaign"
			>
			<li>Communication Strategy</li>
			<li>Integrated Campaigns</li>
			<li>Digital Branding</li>
			<li>Film & Motion</li>
			<li>Audience Management</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="content"
				label="Content"
				checked
			>
			<li>Content Strategy</li>
			<li>Sovial Media</li>
			<li>Editorial Strategy</li>
			<li>Editorial Services</li>
			<li>Content Production</li>
			<li>Content Distribution</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="commerce"
				label="Commerce"
			>
			<li>End-to-End Consulting</li>
			<li>Branded Commerce</li>
			<li>Custom Development</li>
			<li>E-Commerce Frameworks</li>
			<li>Operation</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="connect"
				label="Connect"
			>
			<li>App Design</li>
			<li>iOS Development</li>
			<li>Android Development</li>
			<li>Windows Development</li>
			<li>Messenger & Bots</li>
			<li>Connected Things</li>
		</Infographic1ListEntry>
		<Infographic1ListEntry
				id="continuity"
				label="Continuity"
			>
			<li>Hosting</li>
			<li>24/7 Application Management</li>
			<li>PAAS (Twirl)</li>
			<li>Full managed Services</li>
			<li>Helpdesk</li>
		</Infographic1ListEntry>
	</ul>
</section>
