<section class="mod-locations">
	<h2 class="h h2-1">Locations</h2>
	<figure class="figure" data-location="hamburg">
		<ol class="locnav">
			<li class="locnavItem">
				<button class="link locnavBtn js_chooseLocation" data-location="berlin">Berlin</button>
			</li>
			<li class="locnavItem">
				<button class="link locnavBtn js_chooseLocation" data-location="frankfurt">Frankfurt</button>
			</li>
			<li class="locnavItem">
				<button class="link locnavBtn isActive js_chooseLocation" data-location="hamburg">Hamburg</button>
			</li>
			<li class="locnavItem">
				<button class="link locnavBtn js_chooseLocation" data-location="munich">München</button>
			</li>
			<li class="locnavItem">
				<button class="link locnavBtn js_chooseLocation" data-location="prague">Prag</button>
			</li>
		</ol>
		<a
			data-marker="Völckersstr. 38"
			data-location="hamburg"
			class="map isActive"
			href="
				https://www.google.de/maps/place/SinnerSchrader/@53.5570936,9.9264012,15z
				"
			target="_blank"
			>
			<% include './styleguide/components/element_image/template.html', {
				width: 1000,
				height: 1000,
				url: encodeURI('https://maps.googleapis.com/maps/api/staticmap?\
				center=53.557142,9.9263729\
				&zoom=15\
				&scale=2\
				&size=640x640\
				&style=feature:all|saturation:-100|visibility:simplified\
				&style=feature:poi|element:labels|visibility:off')
			} %>
		</a>
		<a
			data-marker="Friedenstraße 91"
			data-location="berlin"
			class="map"
			href="
				https://www.google.de/maps/place/SinnerSchrader+Mobile+GmbH/@52.522018,13.43695,15z
				"
			target="_blank"
			>
			<% include './styleguide/components/element_image/template.html', {
				width: 1000,
				height: 1000,
				url: encodeURI('https://maps.googleapis.com/maps/api/staticmap?\
				center=52.522018,13.43695\
				&zoom=15\
				&scale=2\
				&size=640x640\
				&style=feature:all|saturation:-100|visibility:simplified\
				&style=feature:poi|element:labels|visibility:off')
			} %>
		</a>
		<a
			data-marker="Schackstraße 3"
			data-location="munich"
			class="map"
			href="
				https://www.google.de/maps/place/SinnerSchrader/@48.1520709,11.5837607,15z
				"
			target="_blank"
			>
			<% include './styleguide/components/element_image/template.html', {
				width: 1000,
				height: 1000,
				url: encodeURI('https://maps.googleapis.com/maps/api/staticmap?\
				center=48.1520709,11.5837607\
				&zoom=15\
				&scale=2\
				&size=640x640\
				&style=feature:all|saturation:-100|visibility:simplified\
				&style=feature:poi|element:labels|visibility:off')
			} %>
		</a>
		<a
			data-marker="U Pergamenky 1522/2"
			data-location="prague"
			class="map"
			href="
				https://www.google.de/maps/place/SinnerSchrader/@50.1084454,14.4526135,15z
				"
			target="_blank"
			>
			<% include './styleguide/components/element_image/template.html', {
				width: 1000,
				height: 1000,
				url: encodeURI('https://maps.googleapis.com/maps/api/staticmap?\
				center=50.1084454,14.4526135\
				&zoom=15\
				&scale=2\
				&size=640x640\
				&style=feature:all|saturation:-100|visibility:simplified\
				&style=feature:poi|element:labels|visibility:off')
			} %>
		</a>
		<a
			data-marker="Hanauer Landstraße 181"
			data-location="frankfurt"
			class="map"
			href="
				https://www.google.de/maps/place/SinnerSchrader/@50.113685,8.7171673,15z
				"
			target="_blank"
			>
			<% include './styleguide/components/element_image/template.html', {
				width: 1000,
				height: 1000,
				url: encodeURI('https://maps.googleapis.com/maps/api/staticmap?\
				center=50.113685,8.7171673\
				&zoom=15\
				&scale=2\
				&size=640x640\
				&style=feature:all|saturation:-100|visibility:simplified\
				&style=feature:poi|element:labels|visibility:off')
			} %>
		</a>
		<figcaption>
			<div class="locationAddress isActive" data-location="hamburg">
				<h3 class="city h3">Hamburg</h3>
				<h4 class="h4">SinnerSchrader</h4>
				<p class="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>

				<h4 class="h4">SinnerSchrader Swipe</h4>
				<p class="copy">
					Pilatuspool 2<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>

				<h4 class="h4">SinnerSchrader Commerce</h4>
				<p class="copy">
					Pilatuspool 2<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div class="locationAddress" data-location="berlin">
				<h3 class="city h3">Berlin</h3>
				<h4 class="h4">SinnerSchrader</h4>
				<p class="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div class="locationAddress" data-location="frankfurt">
				<h3 class="city h3">Frankfurt</h3>
				<h4 class="h4">SinnerSchrader</h4>
				<p class="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div class="locationAddress" data-location="munich">
				<h3 class="city h3">München</h3>
				<h4 class="h4">SinnerSchrader</h4>
				<p class="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
			<div class="locationAddress" data-location="prague">
				<h3 class="city h3">Prag</h3>
				<h4 class="h4">SinnerSchrader</h4>
				<p class="copy">
					Völckersstr. 38<br />
					22765 Hamburg<br />
					+49 40 39 88 55 - 0
				</p>
			</div>
		</figcaption>
	</figure>
</section>
