.hero{
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 90vh;
	padding: 180px 13% 90px; // 56% 13%;
	text-align: center;
	color: @s2-white;
	background: @s2-red url("https://image.sinnerschrader.com/2880x1730/BA0237/520127/ 1440x865 ") no-repeat 50% 0;
	background-size: cover;	

	.h4{
		margin-bottom: 10px; // TODO
	}
	
	@media @s2-mq-window-tablet {
		display: block;
		padding-top: 10px;
		max-height: 760px;
		.h{
			@pad: @s2-moduleGap-m-3;
			position: absolute;
			right: @pad;
			bottom: @pad;
			left: @pad;
			text-align: left;
		}
	}
	@media @s2-mq-window-desktop {
		.h{
			@pad: @s2-moduleGap-l-3;
			right: @pad;
			bottom: @pad;
			left: @pad;
		}
	}

}
