.mod-hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 85vh;
	padding: @s2-moduleGap-s-1;
	text-align: center;
	background: @s2-red no-repeat 50% 0;
	background-size: cover;	

	.sub {
		margin-bottom: @s2-moduleGap-s-1/2;
	}
	
	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 @s2-moduleGap-m-2 @s2-moduleGap-m-2;
		max-height: 760px;
		justify-content: space-between;
		.h {
			text-align: left;
		}
	}
	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-1 @s2-moduleGap-l-3 @s2-moduleGap-l-3;
	}

}
