.mod-map {
	position: relative;
	z-index: 1;

	a {
		display: block;
		line-height: 40px;
		color: @s2-white;
		white-space: nowrap;

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			background: @s2-darkblack;
		}
		
		&::before {
			content: attr(data-marker);
			margin-top: -16px;
			padding: 0 20px;
			transform: translate(-50%,-100%);
		}
		&::after {
			@dim: 10px;
			content: "";
			width: @dim;
			height: @dim;
			border-radius: 100%;
			transform: translate(-50%,-50%);
		}
	}

	@media @s2-mq-window-tablet {
		a {
			&::after {
			}
		}
	}

	@media @s2-mq-window-desktop {
		a {
			&::after {
				@dim: 12px;
				width: @dim;
				height: @dim;
			}
		}
	}

}
