.mod-links {
	display: flex;
	flex-wrap: wrap;
	padding: @s2-moduleGap-s-1;
	background-color: @s2-lightgrey;

	.h {
		margin-bottom: @s2-moduleGap-s-1;

		text-transform: uppercase;
	}

	.conf,
	.linklist {
		flex: 1 0 50%;
	}

	.conf-logo {
		display: inline-block;
		margin: 0 (@s2-moduleGap-s-1/2) @s2-moduleGap-s-1 0;
		vertical-align: top;
	}

	.linklist-link {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		&:extend(.h4);

		padding: 0 0 0 30px;
	}

	.linklist-item {
		padding: 0 0 10px 0;
	}

	.icon {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		fill: #d8d8d8;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 @s2-moduleGap-m-2;

		.h {
			margin-bottom: @s2-moduleGap-m-1;
		}

		.conf {
			flex: 1 0 auto;
		}

		.linklist {
			flex: 0 0 auto;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-1 @s2-moduleGap-l-2;

		.h {
			margin-bottom: @s2-moduleGap-l-1;
		}

		.conf,
		.linklist {
			flex: 1 0 33.333%;
			padding-right: @s2-moduleGap-l-1;
		}

		.linklist-item {
			padding-bottom: 20px;
		}
	}
}
