---
name: Links
---
<section className="mod-links">
	<div className="newsletter">
		<h2 className="h h4">Newsletter</h2>
		<form>
			<label className="label">
				<input
					type="email"
					name="email"
					className="input"
					pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
					placeholder="Email"
					/>
				<button className="submit-btn" type="submit"></button>
			</label>
		</form>
	</div>
	<div className="conf">
		<h2 className="h h4">Conferences</h2>
		<a href="http://nextconf.eu/" className="conf-logo" target="_blank">
			<img src={props.base + '/static/images/logos/next.svg'} title="Next Conf EU" width="60" height="61px" />
		</a>
		<a href="http://www.jsconf.eu" className="conf-logo" target="_blank">
			<img src={props.base + '/static/images/logos/js.svg'} title="JSConf EU" width="40" />
		</a>
	</div>
	<ul className="linklist">
		<li className="linklist-item">
			<a href="#" className="linklist-link" data-icon="">New Talent</a>
		</li>
		<li className="linklist-item">
			<a href="#" className="linklist-link" data-icon="">New Business</a>
		</li>
		<li className="linklist-item">
			<a href="#" className="linklist-link" data-icon="">Contact</a>
		</li>
		<li className="linklist-item">
			<a href="#" className="linklist-link" data-icon="">Imprint</a>
		</li>
	</ul>
</section>
