---
name: Links
---
<section className="mod-links">
	<div className="conf">
		<h2 className="h h4">Conferences</h2>
		<a href="http://nextconf.eu/" className="conf-logo" target="_blank" rel="noopener noreferrer">
			<img src={props.base + '/static/images/logos/next.svg'} title="Next Conf EU" width="60" height="61" />
		</a>
		<a href="http://www.jsconf.eu" className="conf-logo" target="_blank" rel="noopener noreferrer">
			<img src={props.base + '/static/images/logos/js.svg'} title="JSConf EU" width="40" height="40" />
		</a>
	</div>
	<ul className="linklist">
		<li className="linklist-item">
			<a href={props.base + '/contact/'} className="linklist-link">
				<svg className="icon" viewBox="0 0 20 20">
					<use xlinkHref={props.base + '/static/sprite.svg#arrow'} />
				</svg>
				Contact
			</a>
		</li>
		<li className="linklist-item">
			<a href={props.base + '/imprint/'} className="linklist-link">
				<svg className="icon" viewBox="0 0 20 20">
					<use xlinkHref={props.base + '/static/sprite.svg#arrow'} />
				</svg>
				Imprint
			</a>
		</li>
		<li className="linklist-item">
			<a href={props.base + '/data-policy/'} className="linklist-link">
				<svg className="icon" viewBox="0 0 20 20">
					<use xlinkHref={props.base + '/static/sprite.svg#arrow'} />
				</svg>
				Data Policy
			</a>
		</li>
		<li className="linklist-item">
			<a
				href="https://github.com/sinnerschrader/sinnerschrader-website"
				className="linklist-link"
				>
				<svg className="icon" viewBox="0 0 20 20">
					<use xlinkHref={props.base + '/static/sprite.svg#arrow'} />
				</svg>
				Improve this site
			</a>
		</li>
	</ul>
</section>
