.mod-screencast {
	display: flex;
	flex-direction: column;
	background-color: @s2-white;

	.disruptor {
		margin-top: -32px;
		margin-right: 3vw;
	}

	@media @s2-mq-window-tablet {
		.disruptor {
			margin-top: -48px;
		}
	}

	@media @s2-mq-window-desktop {
		.disruptor {
			margin-top: -64px;
			margin-left: 15vw;
		}
	}
}
