<section class="mod-links">
	<div class="newsletter">
		<h2 class="h h4">Newsletter</h2>
		<form>
			<label class="label">
				<input
					type="email"
					name="email"
					class="input"
					pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
					placeholder="Email"
					/>
				<button class="submit-btn" type="submit"></button>
			</label>
		</form>
	</div>
	<div class="conf">
		<h2 class="h h4">Conferences</h2>
		<a href="http://nextconf.eu/" class="conf-logo" target="_blank">
			<img src="./images/logos/NEXT_Logo_Berlin_2015.png" title="Next Conf EU" width="60" />
		</a>
		<a href="http://www.jsconf.eu" class="conf-logo" target="_blank">
			<img src="./images/logos/js.png" title="JSConf EU" width="40" />
		</a>
	</div>
	<ul class="linklist">
		<li class="linklist-item">
			<a href="#" class="linklist-link" data-icon="">New Talent</a>
		</li>
		<li class="linklist-item">
			<a href="#" class="linklist-link" data-icon="">New Business</a>
		</li>
		<li class="linklist-item">
			<a href="#" class="linklist-link" data-icon="">Contact</a>
		</li>
		<li class="linklist-item">
			<a href="#" class="linklist-link" data-icon="">Imprint</a>
		</li>
	</ul>
</section>
