.jump{
	padding: 7% 22%;
	text-align: center;
	color: @s2-white;
	background: @s2-red url("https://image.sinnerschrader.com/2880x560/BA0237/520127/ 1440x280 ") no-repeat 50% 0;
	background-size: cover;
	
	.copy{
		margin-bottom: 0;
	}
}
