---
name: QuoteImage
---
<section className="mod-quoteimage">
	<blockquote className="quote h3 styleline sctnbrdrclr">
		<Text
			Tagname="p"
			className="copy"
			text={props.copy}
			/>
		<cite className="cite xscopy">{props.credits}</cite>
	</blockquote>
	<div className="teaser sctnbgclr">
		<ResponsiveImage
			imageSrcSetS={props.imageSrcSetS}
			imageSrcSetM={props.imageSrcSetM}
			imageSrcSetL={props.imageSrcSetL}
			imageSrc={props.imageUrl || props.imageSrc}
			ratio="1.33"
			/>
	</div>
</section>
