.management{
	padding: @s2-moduleGap-s-1;
	background: linear-gradient(to top, transparent 0%, transparent 50px, @s2-grey 50px, @s2-grey 66%, transparent 66%, transparent 100%);
	
	.h{
		margin-bottom: 5.6%;
	}

	.cards{
		display: flex;
		overflow: hidden;

		.item {
			flex: 1 0 auto;
			width: 100%; // FIX IE 11
			margin: 0 @s2-moduleGap-s-1/2 0 0;
		}
	}

	.pager{
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 40px 0 0;
		.item{
			@dim: 6px;
			display: inline-block;
			background: @s2-grey;
			border-radius: 100%;
			width: @dim;
			height: @dim;
			margin: 0 5px;
			&.active{
				background-color: @s2-black;
			}
		}
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1/2;
		background: linear-gradient(to right, @s2-grey 0%, @s2-grey 120px, transparent 120px, transparent 100%);

		.h{
			text-align: center;
		}

		.cards{
			justify-content: space-around;
			flex-wrap: wrap;
			.item {
				width: auto;
				margin: 0 @s2-moduleGap-m-1/2 60px;
			}
			.card{
				margin: 0 auto;
			}
		}

		.pager{
			display: none;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-2/2;
		background: linear-gradient(to right, @s2-grey 0%, @s2-grey 200px, transparent 200px, transparent 100%);

	}

}
