.management{
	padding: @s2-moduleGap-s-1;
	background: linear-gradient(to top, transparent 0%, transparent 50px, @s2-grey 50px, @s2-grey 66%, transparent 66%, transparent 100%);
	
	.h{
		margin-bottom: 5.6%;
	}

	.cards{
		display: flex;
		overflow: hidden;

		.item {
			flex: 1 1 auto;
			margin: 0 @s2-moduleGap-s-1/2 0 0;
		}
	}
	
	.teaser{
		min-width: 217px;
	}

	.pager{
		padding-top: 40px;
		padding-bottom: 0;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1/2;
		background: linear-gradient(to right, @s2-grey 0%, @s2-grey @s2-moduleGap-m-3, transparent @s2-moduleGap-m-3, transparent 100%);

		.h{
			text-align: center;
		}

		.cards{
			justify-content: space-between;
			flex-wrap: wrap;
			.item {
				flex-grow: 0;
				margin: 0 @s2-moduleGap-m-1/2 60px;
			}
		}
		

		.pager{
			display: none;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-2/2;
		background: linear-gradient(to right, @s2-grey 0%, @s2-grey @s2-moduleGap-l-3, transparent @s2-moduleGap-l-3, transparent 100%);
		
	}

}
