<section class="management">
	<h2 class="h h2-1">Management</h2>
	<ol class="cards">
		<% for idx in [1..7] : %>
		<li class="card">
			<figure>
				<div class="icont"><img class="img" alt="Lorem Ipsum" src="http://placehold.it/280x370" width="280" height="370" /></div>
				<figcaption class="figcaption">
					<h3 class="sub h4">Matthias Schrader</h3>
					<p class="scopy">CEO</p>
				</figcaption>
			</figure>
			<ul class="smn">
				<li><a href="#" class="linkedin">LinkedIn</a></li>
				<li><a href="#" class="xing">Xing</a></li>
				<li><a href="#" class="twitter">Twitter</a></li>
			</ul>
		</li>
		<% end %>
	</ol>
	<div class="pager">
		<li class="item active"></li>
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
		<li class="item"></li>
	</div>
</section>
