//grid
@s2-burgerHeight-s     : 22px;
@s2-burgerHeight-m     : 34px;
@s2-headerHeight-s     : 40px;
@s2-headerHeight-m     : @s2-headerHeight-s;
@s2-headerHeight-l     : @s2-headerHeight-s;

@s2-pageTopPadding-s     : @s2-headerHeight-s;
//@s2-pageTopPadding-m   : @s2-headerHeight-m;
//@s2-pageTopPadding-l   : @s2-headerHeight-l;
//@s2-pageBottomPadding-s  : 0;
//@s2-pageBottomPadding-m  : 0;

// Modules

@s2-moduleGap-s        : 30px;
@s2-moduleGap-s-1      : (1 * @s2-moduleGap-s);
@s2-moduleGap-s-2      : (2 * @s2-moduleGap-s);
@s2-moduleGap-s-3      : (3 * @s2-moduleGap-s);
@s2-moduleGap-m        : 40px;
@s2-moduleGap-m-1      : (1 * @s2-moduleGap-m);
@s2-moduleGap-m-2      : (2 * @s2-moduleGap-m);
@s2-moduleGap-m-3      : (3 * @s2-moduleGap-m);
@s2-moduleGap-l        : 50px;
@s2-moduleGap-l-1      : (1 * @s2-moduleGap-l);
@s2-moduleGap-l-2      : (2 * @s2-moduleGap-l);
@s2-moduleGap-l-3      : (4 * @s2-moduleGap-l);
@s2-moduleGap-xl       : 70px;
@s2-moduleGap-xl-1     : (1 * @s2-moduleGap-xl);
@s2-moduleDisrupter-s  : 32px;
@s2-moduleDisrupter-m  : 48px;
@s2-moduleDisrupter-l  : 64px;

@s2-MinPageWidth       :  320px;
@s2-MaxPageWidth       : 1440px;
@s2-tabletPageWidth    :  720px;
@s2-desktopPageWidth   :  1024px;
@s2-font-basesize      :   15px;
@s2-base-lineheight    :   20px;
@s2-base-letterspacing :    1px;
@s2-paragraph-margin   :   @s2-base-lineheight;

//mediaqueries
@s2-mq-window-tablet       : ~`"screen and (min-width: @{s2-tabletPageWidth} )"`;
@s2-mq-window-desktop      : ~`"screen and (min-width: @{s2-desktopPageWidth} )"`;
//@s2-mq-device-smartphone : ~`"screen and (max-device-width: @{s2-tabletPageWidth} )"`;
//@s2-mq-device-tablet     : ~`"screen and (max-device-width: @{s2-desktopPageWidth} )"`;
//@s2-mq-landscape         : ~"and (orientation:landscape)";
//@s2-mq-portrait          : ~"and (orientation:portrait)";

//fonts
@s2-font-base        : Arial,Verdana,sans-serif; // DIN
@s2-font-high1       : Arial,Verdana,sans-serif; // Maison
@s2-font-high2       : Times,serif;              // Noe

//paths
@s2-image-path       : "../images";
@s2-font-path        : "../fonts";


//timings
@short                        : .2s;
@medium                       : .5s;
@long                         :  1s;
@defaultTiming                : @short;
@defaultEasing                : ease-out;
