body {
	padding: @s2-pageTopPadding 0 @s2-pageBottomPadding;
	color: @s2-black;
	background: @s2-white;
	text-rendering: optimizeLegibility; // may cause render issues
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: @s2-font-base;
	font-size: @s2-font-basesize;
	line-height: @s2-base-lineheight;
	letter-spacing: @s2-base-letterspacing;
	@media @s2-mq-window-tablet {
//		font-size: 20px;
//		line-height: 32px;
//		letter-spacing: .6px;
	}
	@media @s2-mq-window-desktop {
//		font-size: 24px;
//		line-height: 36px;
	}
}

a {
	text-decoration: none;
	color: inherit;
	#s2-transition > .generic();
	&:hover {
		color: @s2-black-hover;
	}
}

.copy {
	margin: 0 0 @s2-base-lineheight 0;
	hyphens: auto;
	a {
		text-decoration: none;
		&:hover {
		  text-decoration: none;
		}
	}
	@media @s2-mq-window-tablet {
//		margin-bottom: 32px;
	}
	@media @s2-mq-window-desktop {
//		margin-bottom: 36px;
	}

}
.scopy {
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
}

.link{
	display: inline-block;
	border-bottom: 2px solid @s2-black;
	margin-bottom: 10px;
	padding-bottom: 2px;
}
