// TODO ENTER THEMES

.theme1 {
	.sctnbrdrclr {
		border-color: @s2-green;
	}
	.sctnbgclr,
	.blend{
		background-color: @s2-green;
	}
	.sctnbgclrAfter::after {
		background-color: @s2-green;
	}
	.sctntxtclr {
		color: @s2-green;
	}
}
