[data-theme="black"] {
	.sctnbrdrclr {
		border-color: @s2-darkblack;
	}
	.sctnbgclr,
	.blend {
		background-color: @s2-darkblack;
	}
	.sctnbgclrAfter::after {
		background-color: @s2-darkblack;
	}
	.sctntxtclr {
		color: @s2-darkblack;
	}
}


[data-theme="green"] {
	.sctnbrdrclr {
		border-color: @s2-green;
	}
	.sctnbgclr,
	.blend {
		background-color: @s2-green;
	}
	.sctnbgclrAfter::after {
		background-color: @s2-green;
	}
	.sctntxtclr {
		color: @s2-green;
	}
}

[data-theme="blue"] {
	.sctnbrdrclr {
		border-color: @s2-blue;
	}
	.sctnbgclr,
	.blend {
		background-color: @s2-blue;
	}
	.sctnbgclrAfter::after {
		background-color: @s2-blue;
	}
	.sctntxtclr {
		color: @s2-blue;
	}
}


[data-theme="red"] {
	.sctnbrdrclr {
		border-color: @s2-red;
	}
	.sctnbgclr,
	.blend {
		background-color: @s2-red;
	}
	.sctnbgclrAfter::after {
		background-color: @s2-red;
	}
	.sctntxtclr {
		color: @s2-red;
	}
}
