.img{
	position: relative;
	&[data-ratio="1.32"] {
		padding-top: (132%);
	}
	&[data-ratio="0.65"] {
		padding-top: (65%);
	}

	img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;
	}
}
