<section class="clients">
	<h2 class="h h2-2">Kunden</h2>
	<ul class="clientslist">
		<li class="item" style="background-image: url('https://image.sinnerschrader.com/110x110/fff/000/%C2%A055x55%C2%A0')">Marke</li>
		<li class="item" style="background-image: url('https://image.sinnerschrader.com/110x110/fff/000/%C2%A055x55%C2%A0')">Marke</li>
		<li class="item" style="background-image: url('https://image.sinnerschrader.com/110x110/fff/000/%C2%A055x55%C2%A0')">Marke</li>
		<li class="item" style="background-image: url('https://image.sinnerschrader.com/220x110/fff/000/%C2%A0110x55%C2%A0')">Marke</li>
		<li class="item" style="background-image: url('https://image.sinnerschrader.com/220x110/fff/000/%C2%A0110x55%C2%A0')">Marke</li>
		<li class="item" style="background-image: url('https://image.sinnerschrader.com/220x110/fff/000/%C2%A0110x55%C2%A0')">Marke</li>
	</ul>
</section>
