<section class="mod-clients invert">
	<h2 class="h h2-2">Kunden</h2>
	<ul class="clientslist">
		<li class="item" style="background-image: url('//placehold.it/110x110/fff/000/&text=55x55')">Marke</li>
		<li class="item" style="background-image: url('//placehold.it/110x110/fff/000/&text=55x55')">Marke</li>
		<li class="item" style="background-image: url('//placehold.it/110x110/fff/000/&text=55x55')">Marke</li>
		<li class="item" style="background-image: url('//placehold.it/220x110/fff/000/&text=110x55')">Marke</li>
		<li class="item" style="background-image: url('//placehold.it/220x110/fff/000/&text=110x55')">Marke</li>
		<li class="item" style="background-image: url('//placehold.it/220x110/fff/000/&text=110x55')">Marke</li>
	</ul>
</section>
