<section class="mod-newscopy">
	<time class="time" datetime="1905-11-13">10. Oktober 2013</time>
	<p class="h4 short">Du bist ein kreativer Kopf und das Internet ist dein Medium. Du hast ein hervorragendes Gespür für Design und bist kontinuierlich auf der Suche nach den besten Lösungen.</p>
	<p class="copy">Du findest schnell überzeugende Lösungsansätze, hast keine Scheu vor Prototyping und Lust, eng mit Programmierern zusammen zu arbeiten. Neben namhaften Kunden findest du bei SinnerSchrader viel Platz für persönliche Weiterentwicklung, Spaß und tolle Kollegen.</p>
	<ul class="bulletlist">
		<li>Überzeugendes Portfolio</li>
		<li>Erste Erfahrungen in der Gestaltung digitaler Anwendungen</li>
	</ul>
</section>
