<section class="mod-newscopy">
	<time class="time xscopy" pubdate="pubdate" datetime="1905-11-13">10. Oktober 2013</time>
	<p class="h4 short">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
	<p class="copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
	<p class="copy">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
	<p class="copy">Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
	<ul class="bulletlist">
		<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		<li>Aenean commodo ligula eget dolor. Aenean massa.</li>
		<li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
		<li>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</li>
		<li>Nulla consequat massa quis enim. Donec.</li>
	</ul>
</section>
