.mod-navigation {
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
	height: @s2-headerHeight-s;
	padding: @s2-moduleGap-s-1;
	#s2-transition > .generic();
	#s2-tools > .enableGPU();

	.logo,
	.h {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: inherit;
	}

	.logo {
		@width: 131px;
		@height: 22px;
		left: @s2-moduleGap-s-1;
		background: @s2-darkblack;
		width: @width;
		height: @height;
		#s2-tools > .ir;
		a {
			display: block;
			width: inherit;
			height: inherit;
		}
	}
	
	.h {
		display: none;
	}
	
	.nav {
		@dim: @s2-burgerHeight-s;
		position: relative;
		width: @dim;
		height: @dim;
		margin: 0 0 0 auto;
		border-radius: 100%;
		background: @s2-darkblack;
		transition: inherit;
		cursor: pointer;
	}
	
	.mainnav {
		display: none;
		.pointer-events & {
			display: block;
			opacity: 0;
		}
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: -1;
		height: 100vh;
		padding-top: @s2-headerHeight-s + 10;
		text-align: right;
		transition: inherit;
		background: linear-gradient(to bottom, @s2-darkblack 0%, @s2-darkblack @s2-headerHeight-s, transparent @s2-headerHeight-s, transparent 100%),
								linear-gradient(to left, @s2-darkblack 0%, @s2-darkblack @s2-headerHeight-s, transparent @s2-headerHeight-s, transparent 100%),
								fade(@s2-black, 95%);
		.item {
			flex: 0 0 auto;
			position: relative;
			margin-bottom: @s2-moduleGap-s-1/2;
			padding-right: @s2-moduleGap-s-1;
			&.active {
				&::after {
					@dim: 9px;
					content: "";
					position: absolute;
					right: 0;
					top: 50%;
					width: @dim;
					height: @dim;
					background: @s2-white;
					transform: translateY(-50%);
				}
			}
			&.last {
				flex: 1 0 auto;
				align-self: top;
			}
		}
	}
	
	.meta {
		.link {
			border-color: @s2-white;
		}
	}
	
	.smn {
		position: absolute;
		left: @s2-moduleGap-s-1;
		bottom: 0;
		flex-direction: column;
		
		.nw {
			margin-bottom: @smnDim;
		}
	}
	
	&.contrast {
		background: @s2-white;
	}
	
	&.spotlight {
		background: @s2-black;
		.logo,
		.nav {
			background: @s2-white;
		}
		.h {
			color: @s2-white;
		}
	}
	
	&.open {
		&:extend(.spotlight all);
		.logo {
			position: fixed;
		}
		.mainnav {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			.pointer-events & {
				opacity: 1;
			}
		}
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1;
		height: @s2-headerHeight-m;

		.logo {
			left: @s2-moduleGap-s-1;
		}

		.h {
			display: block;
			left: @s2-moduleGap-m-1;
			right: @s2-moduleGap-m-1;
			text-align: center;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	
		.nav {
			@dim: @s2-burgerHeight-m;
			width: @dim;
			height: @dim;
		}

		.mainnav {
			padding-top: @s2-headerHeight-m + 10;
			background: linear-gradient(to bottom, @s2-darkblack 0%, @s2-darkblack @s2-headerHeight-m, transparent @s2-headerHeight-m, transparent 100%),
									linear-gradient(to left, @s2-darkblack 0%, @s2-darkblack @s2-headerHeight-m, transparent @s2-headerHeight-m, transparent 100%),
									fade(@s2-black, 95%);
			.item {
				margin-bottom: @s2-moduleGap-m-1/2;
				padding-right: @s2-moduleGap-m-1;
				&.active {
					&::after {
						@dim: 9px;
						width: @dim;
						height: @dim;
					}
				}
			}
			&::after {
				@dim: @s2-burgerHeight-m;
				top: @s2-moduleGap-m-1;
				right: @s2-moduleGap-m-1;
				width: @dim;
				height: @dim;
			}
		}

		.smn {
			position: static;
			flex-direction: row;
			justify-content: flex-end;
			.nw {
				margin-left: 20px;
			}
		}

	}

	@media @s2-mq-window-desktop {
		max-width: @s2-MaxPageWidth;
	}

}
