<header class="mod-navigation"> <!-- open -->
	<div class="logo"><a href="/">SinnerSchrader</a></div>
	<h1 class="h h4">Lorem ipsum sit dolor</h1>
	<nav class="nav">
		<ul class="mainnav invert h3">
			<li class="item active"><a href="#">Still day one</a></li>
			<li class="item"><a href="#">Unternehmen</a></li>
			<li class="item"><a href="#">Arbeitsmodell</a></li>
			<li class="item"><a href="#">Karriere</a></li>
			<li class="item"><a href="#">Kontakt</a></li>
			<li class="item last"><a href="#">News</a></li>
			<li class="item meta scopy"><a href="#" class="link">Impressum</a></li>
			<li class="item"><% include './styleguide/components/element_smn/template.html', { items: 4, microformat: false } %></li>
		</ul>
	</nav>
</header>

