<header class="mod-navigation">
	<div class="logo">
		<a href="#">SinnerSchrader</a>
	</div>
	<h1 class="h h4">Lorem ipsum sit dolor</h1>
	<nav class="nav">
		<ul class="mainnav h3">
			<li class="item active"><a href="#">Still day one</a></li>
			<li class="item"><a href="#">Unternehmen</a></li>
			<li class="item"><a href="#">Arbeitsmodell</a></li>
			<li class="item"><a href="#">Karriere</a></li>
			<li class="item"><a href="#">Kontakt</a></li>
			<li class="item"><a href="#">News</a></li>
			<li class="meta scopy"><a href="#" class="link">Impressum</a></li>
		</ul>
	</nav>
</header>

