<section class="contactlist">
	<h2 class="h h2-1">Ansprechpartner</h2>
	<ul class="contacts">
		<% for [1..4] : %>
		<li class="item">
			<dl>
				<dt class="sub h4">New Business</dt>
				<dd itemscope="itemscope" itemtype="http://schema.org/Person">
					<span itemprop="name">Katharina Knigge</span><br />
					<meta content="Head of New Business" itemprop="jobtitle" />
					<meta content="https://sinnerschrader.com" itemprop="url" />
					<span itemprop="telephone">+49 40 39 88 55-801</span><br /><br />
					<a href="mailto:info@sinnerschrader.com" class="h4 link" itemprop="email">info@sinnerschrader.com</a>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<meta content="Völckersstr. 38" itemprop="streetAddress" />
						<meta content="Hamburg" itemprop="addressLocality" />
						<meta content="22765" itemprop="postalCode" />
						<meta content="Deutschland" itemprop="addressCountry" />
					</div>
				</dd>
			</dl>
		</li>
		<% end %>
	</ul>
	<h2 class="h h2-1">Unsere Büros</h2>
	<ul class="contacts">
		<% for [1..3] : %>
		<li class="item">
			<dl>
				<dt class="sub h4"><a href="#" itemprop="url" class="link">Hamburg</a></dt>
				<dd itemscope="itemscope" itemtype="http://schema.org/Corporation">
					<span itemprop="name">SinnerSchrader</span>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span itemprop="streetAddress">Völckersstr. 38</span><br />
						<span itemprop="postalCode">22765</span> <span itemprop="addressLocality">Hamburg</span><br />
						<meta content="Deutschland" itemprop="addressCountry" />
					</div>
					<span itemprop="telephone">+49 40 39 88 55-0</span><br /><br />
					<a href="mailto:info@sinnerschrader.com" class="h4 link" itemprop="email">info@sinnerschrader.com</a>
				</dd>
			</dl>
		</li>
		<% end %>
	</ul>
</section>
