.card {
	position: relative;
	width: 100%;
	padding: 0 @s2-moduleGap-s @s2-moduleGap-s @s2-moduleGap-s-2;
	background: linear-gradient(to bottom, transparent 0%, transparent (@smnDim*2), @s2-lightgrey (@smnDim*2), @s2-lightgrey 100%);

	.teaser {
		max-width: 280px;
		margin-bottom: (@s2-moduleGap-s*.5);
	}

	.figcaption {
		color: @s2-darkgrey2;
		.sub {
			color: @s2-black;
			line-height: 1.5;
		}
	}

	.smn {
		position: absolute;
		top: @smnDim;
		left: 0;
		width: @s2-moduleGap-s-2;
		flex-direction: column;
		.nw {
			margin-bottom: @smnDim;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media @s2-mq-window-tablet {
		.teaser {
			max-width: 250px;
		}
	}

	@media @s2-mq-window-desktop {
		.teaser {
			//max-width: 280px;
		}
	}


}
