---
name: ElementCard
---
<div className="card">
	<figure>
		<div className="teaser">
			<ElementImage
				width={280}
				height={370}
				/>
		</div>
		{
		props.caption &&
			<figcaption className="figcaption">
				<h3 className="sub h5">John Doe</h3>
				<p className="scopy">Mitarbeiter</p>
			</figcaption>
		}
	</figure>
	<SocialMediaNetwork/>
	<Schema
		name="John Doe"
		jobTitle="Mitarbeiter"
		worksFor="SinnerSchrader Deutschland GmbH"
		urls={["https://sinnerschrader.com", "https://facebook.com/john.doe", "https://twitter.com/john.doe", "https://xing.com/john.doe"]}
		email=""
		telephone=""
		image=""
		streetAddress="Völckersstr. 38"
		addressLocality="Hamburg"
		postalCode="22765"
		addressCountry="Deutschland"
		/>
</div>
