---
name: ElementCard
---
<div className="card">
	<figure>
		<div className="teaser">
			<ElementImage
				url={props.url}
				width={560}
				height={750}
				/>
		</div>

		{
		props.name && props.jobTitle &&
			<figcaption className="figcaption">
				<h3 className="sub h5">{props.name}</h3>
				<p className="scopy">{props.jobTitle}</p>
			</figcaption>
		}
	</figure>
	<SocialMediaNetwork
		twitterUrl={props.twitterUrl}
		twitterTitle={props.twitterTitle}
		xingUrl={props.xingUrl}
		xingTitle={props.xingTitle}
		linkedInUrl={props.linkedInUrl}
		linkedInTitle={props.linkedInTitle}
		 />
	<Schema
		name={props.name}
		jobTitle={props.jobTitle}
		/>
</div>
