.mod-teaserlist {

	.teaserlist {
		.item {
		}
	}
	
	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 (@s2-moduleGap-m-1 - @s2-moduleGap-m-1/2);

		.teaserlist {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		
			.item {
				flex: 1 1 auto;
				width: 100%/2;
				max-width: 320px;
				margin: 0 @s2-moduleGap-m-1/2;
			}
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-1 (@s2-moduleGap-l-1 - @s2-moduleGap-l-1/2);

		.teaserlist {
			.item {
				width: 100%/3;
				margin: 0 @s2-moduleGap-l-1/2;
			}
		}
	}

}
