---
name: Navigation
---
<header className="mod-navigation-container">
	<div className="mod-navigation sctnbgclr">
		<input type="checkbox" id="navigation-state" data-navigation-state/>
		<a className="logo" href={props.base}>
			<img src={props.base + '/static/images/logos/lg_sinnerschrader.svg'} alt="SinnerSchrader" width="130" height="18" />
		</a>
		<label className="burger" title="Show navigation" htmlFor="navigation-state">
			<div className="layer-wrapper">
				<span className="layer"/>
				<span className="layer"/>
				<span className="layer"/>
				<span className="layer"/>
			</div>
		</label>
		{
			<nav className="nav">
				<ul className="mainnav">
					<li className="mainnav-item sctntxtclr">
						<a href="#">About</a>
						<ul className="aboutnav">
							<li className="aboutnav-item">
								<a href={props.base + '/about/why/'}>Why</a>
							</li>
							<li className="aboutnav-item">
								<a href={props.base + '/about/how/'}>How</a>
							</li>
							<li className="aboutnav-item">
								<a href={props.base + '/about/what/'}>What</a>
							</li>
							<li className="aboutnav-item">
								<a href={props.base + '/about/who/'}>Who</a>
							</li>
						</ul>
					</li>
					<li className="mainnav-item">
						<a href="https://www.sinnerschrader.jobs">Talent</a>
					</li>
					<li className="mainnav-item">
						<a href={props.base + '/work/'}>Work</a>
					</li>
					<li className="mainnav-item">
						<a href={props.base + '/contact/'}>Contact</a>
					</li>
				</ul>
			</nav>
		}
	</div>
</header>
