---
name: SocialMediaNetwork
---
<ul className="smn">
	{
	(props.twitterUrl && props.twitterTitle) &&
		<li className="item"><a href={props.twitterUrl} title={props.twitterTitle} className="network"></a></li>
	}
	{
	(props.facebookUrl && props.facebookTitle) &&
		<li className="item"><a href={props.facebookUrl} title={props.facebookTitle} className="network"></a></li>
	}
	{
	(props.googlePlusUrl && props.googlePlusTitle) &&
		<li className="item"><a href={props.googlePlusUrl} title={props.googlePlusTitle} className="network"></a></li>
	}
	{
	(props.youtubeUrl && props.youtubeTitle) &&
		<li className="item"><a href={props.youtubeUrl} title={props.youtubeTitle} className="network"></a></li>
	}
	{/* <li className="item"><a href="#" title="Follow SinnerSchrader" className="network"></a></li>  Google+ */}
	{/* <li className="item"><a href="#" title="Follow SinnerSchrader" className="network"></a></li> * Youtube */}
	{
	props.children &&
		React.Children.map(props.children, child => (
			<li className="item">{child}</li>
		))
	}
</ul>
