---
name: SocialMediaNetwork
---
<ul className="smn">
	{
		(props.twitterUrl && props.twitterTitle) &&
			<li className="smn-item">
					<a
						className="network"
						href={props.twitterUrl}
						rel="noopener noreferrer"
						target="_blank"
						title={props.twitterTitle}
						>
						
					</a>
			</li>
		}
	{
		(props.facebookUrl && props.facebookTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.facebookUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.facebookTitle}
					>
					
				</a>
			</li>
		}
	{
		(props.linkedInUrl && props.linkedInTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.linkedInUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.linkedInTitle}
					>
					
				</a>
			</li>
		}
	{
	props.children &&
		React.Children.map(props.children, child => (
			<li className="smn-item">{child}</li>
		))
	}
</ul>
