.mod-infographic2 {
	display: flex;
	flex-direction: column;
	padding: @s2-moduleGap-s-2 @s2-moduleGap-s-1;
	background-color: @s2-white;

	.headline {
		margin-bottom: @s2-moduleGap-s-1;
	}

	.subline {
		font-family: @s2-font-high1;
		margin: 0 0 @s2-moduleGap-s-1 25%;
	}

	.responsive-image {
		margin: 0 (@s2-moduleGap-s-1/2 * -1) @s2-moduleGap-s-2 (@s2-moduleGap-s-1/2 * -1);
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-2;

		.subline {
			margin-bottom: @s2-moduleGap-m-2
		}

		.text {
			margin: 0 0 @s2-moduleGap-s-1 25%;
		}

		.responsive-image {
			margin-bottom: @s2-moduleGap-m-2;
			margin-left: -@s2-moduleGap-m-1;
			margin-right: -@s2-moduleGap-m-1;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-2;

		.subline {
			margin-bottom: @s2-moduleGap-l-2
		}

		.responsive-image {
			margin-bottom: @s2-moduleGap-l-2;
			margin-left: -@s2-moduleGap-l-1;
			margin-right: -@s2-moduleGap-l-1;
		}
	}
}
