---
name: Infographic2
---
<section className="mod-infographic2">
	<h2 className="headline h h2-1">
		Staying ahead of the curve.
	</h2>
	<Text
		Tagname="p"
		className="copy subline"
		text="`3 eras` of innovative digital products in the past `20 years`."
		/>
	<img className="graphic" src={props.base + '/static/images/elements/infographic2.svg'}/>
	<Text
		Tagname="p"
		className="copy text"
		text="*The PC cycles driven firstly by the Office, then the Web and now Mobile,* experiences increasingly steeper S-Curves, as technology and consumer adoption accelerates. We are always preparing for the next curve, because we only build products that can bravely scale every digital curve with confidence."
		/>
</section>
