---
name: Infographic2
---
<section className="mod-infographic2">
	<h2 className="headline h h2-1">
		Staying ahead of the curve.
	</h2>
	<Text
		Tagname="p"
		className="copy subline"
		text="`Three eras` of innovative digital products in the past `20 years`."
		/>

	<ResponsiveImage
		imageSrcSet= '../../../static/images/elements/about_why_infographic_mobile.svg'
		imageSrcSetS= '../../../static/images/elements/about_why_infographic_mobile.svg'
		imageSrcSetM= '../../../static/images/elements/about_why_infographic_tablet.svg'
		imageSrcSetL='../../../static/images/elements/infographic2.svg'
		freeForm
		/>


	<Text
		Tagname="p"
		className="copy text"
		text="*The PC cycles – driven firstly by the Office, then the Web and now Mobile* - experiences increasingly steeper S-curves as technology and consumer adoption accelerates. We are always preparing for the next curve, because we only build products that can bravely scale every digital curve with confidence."
		/>
</section>
