.mod-investerrelations {
	padding: @s2-moduleGap-s-1;

	.h {
		margin-bottom: @s2-moduleGap-s-1;
	}

	.about {
		margin-bottom: @s2-moduleGap-s-1;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 @s2-moduleGap-m-3;

		.h {
			margin-bottom: @s2-moduleGap-m-1;
		}

		.about,
		.details {
			padding-left: @s2-moduleGap-m-2;
		}

		.about {
			margin-bottom: @s2-moduleGap-m-1;
		}

	}

	@media @s2-mq-window-desktop {
		display: flex;
		flex-wrap: wrap;
		padding: @s2-moduleGap-l-1 @s2-moduleGap-l-3;

		.h {
			width: 100%;
			margin-bottom: @s2-moduleGap-l-1;
		}

		.about,
		.details {
			width: 50%;
			padding-left: 0;
		}

		.about {
			order: 2;
			margin-bottom: 0;
			align-self: flex-start;
		}

		.details {
			order: 1;
		}
	}
}
