<section class="investerrelations">
	<h2 class="h h2-1">Investor Relations</h2>
	<div class="about">
		<p class="copy">Die Aktie der SinnerSchrader AG (WKN 514190 / ISIN DE0005141907) ist seit 1999 an der Frankfurter Wertpapierbörse zugelassen - im Teilbereich Geregelter Markt und seit 2003 im Prime Standard.</p>
		<p class="copy irsite">
			Alle relevanten Informationen zur Aktie sind aufrufbar unter:<br />
			<a href="https://sinnerschrader.ag" class="h4 link" target="_blank">sinnerschrader.ag</a>
		</p>
	</div>
	<address class="details" itemscope="itemscope" itemtype="http://schema.org/Person"> <!-- TODO: Check for Page Relevance -->
		<span class="sub h3">Ansprechpartner</span><br />
		<span itemprop="name">Thomas Dyckhoff</span><br />
		<span itemprop="jobTitle">CFO</span><br />
		<meta content="SinnerSchrader AG" itemprop="worksFor" /><br />
		<span itemprop="tel">+49 40 39 88 55-0</span><br />
		<a href="mailto:ir@sinnerschrader.com" class="h4 link" itemprop="email">ir@sinnerschrader.com</a>
		<meta content="https://sinnerschrader.com" itemprop="url" />
	</address>
</section>
