<section class="mod-investerrelations">
	<h2 class="h h2-1">Investor Relations</h2>
	<div class="about">
		<p class="copy">Die Aktie der SinnerSchrader AG (WKN 514190 / ISIN DE0005141907) ist seit 1999 an der Frankfurter Wertpapierbörse zugelassen - im Teilbereich Geregelter Markt und seit 2003 im Prime Standard.</p>
		<p class="copy">
			Alle relevanten Informationen zur Aktie sind aufrufbar unter:<br />
			<a href="https://sinnerschrader.ag" class="h4 link" target="_blank">sinnerschrader.ag</a>
		</p>
	</div>
	<address class="details"> <!-- TODO: Check for Page Relevance -->
		<span class="sub h3">Ansprechpartner</span><br />
		Thomas Dyckhoff<br />
		CFO<br /><br />
		+49 40 39 88 55-0<br />
		<a href="mailto:ir@sinnerschrader.com" class="h4 link">ir@sinnerschrader.com</a>
	</address>
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "Thomas Dyckhoff",
		"jobTitle": "CFO",
		"worksFor": "SinnerSchrader AG",
		"url": "https://sinnerschrader.com",
		"email": "ir@sinnerschrader.com",
		"telephone": "+49 40 39 88 55-801",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Völckersstr. 38",
			"addressLocality": "Hamburg",
			"postalCode": "22765",
			"addressCountry": "Deutschland"
		}
	}
	</script>
</section>
