.mod-management {
	padding: @s2-moduleGap-s-1 0 @s2-moduleGap-s-1 @s2-moduleGap-s-1;
	background-color: @s2-white;

	.h {
		margin-bottom: @s2-moduleGap-s-1;
	}

	.cards {
		margin-left: @s2-moduleGap-s-1;
	}

	.item {
		display: flex;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 0;

		.h {
			max-width: 80%;
			padding: 0 0 0 @s2-moduleGap-m-1;
			margin-bottom: @s2-moduleGap-m-1;
		}

		.cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-left: 0;
		}

		.item {
			flex: 0 1 50%;
			padding: 0 0 0 @s2-moduleGap-m-1;
		}
	}

	@media @s2-mq-window-desktop {
		.item {
			flex-basis: 33.33%;
		}
	}

	@media @s2-mq-window-desktop-l {
		padding: @s2-moduleGap-l-1;

		.h {
			max-width: 60%;
			padding-left: @s2-moduleGap-l-1;
			margin-bottom: @s2-moduleGap-l-1;
		}

		.item {
			padding: 0 @s2-moduleGap-l-1;
		}
	}
}
