.mod-management {
	padding: @s2-moduleGap-s-1 0 @s2-moduleGap-s-1 @s2-moduleGap-s-1;
	background-color: @s2-white;

	.h {
		margin-bottom: @s2-moduleGap-s-1;
	}

	.cards {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.teaser {
			min-width: 217px;
		}
	}

	.pager {
		padding-top: 40px;
		padding-bottom: 0;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1 0;

		.h {
			max-width: 80%;
			padding: 0 0 0 @s2-moduleGap-m-1;
			margin-bottom: @s2-moduleGap-m-1;
		}

		.cards {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			.item {
				flex: 0 1 50%;
				padding: 0 0 0 @s2-moduleGap-m-1;
			}
		}

		.pager {
			display: none;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-1;

		.h {
			max-width: 60%;
			padding-left: @s2-moduleGap-l-1;
			margin-bottom: @s2-moduleGap-l-1;
		}

		.cards {
			.item {
				flex-basis: 33.33%;
				padding: 0 @s2-moduleGap-l-1;
			}
		}

	}

}
