.mod-management {
	padding: @s2-moduleGap-s-1 0 @s2-moduleGap-s-1 @s2-moduleGap-s-1;
	background-color: @s2-white;

	.h {
		margin-bottom: @s2-moduleGap-s-1;
	}

	.cards {
		display: flex;

		.item {
			flex: 1 0 auto;
			width: 100%; // FIX IE 11
		}
		.teaser {
			min-width: 217px;
		}
	}

	.pager {
		padding-top: 40px;
		padding-bottom: 0;
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1;

		.h {
			max-width: 80%;
			margin-bottom: @s2-moduleGap-m-1;
		}

		.cards {
			justify-content: space-between;
			flex-wrap: wrap;
			.item {
				flex: 0 1 auto;
				width: auto; // FIX IE 11
				margin: 0 @s2-moduleGap-m-1 @s2-moduleGap-m-1;
			}
		}

		.pager {
			display: none;
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-1;

		.h {
			max-width: 60%;
			margin-bottom: @s2-moduleGap-l-1;
		}

	}

}
