---
name: Gallery
---
<section className="mod-gallery">
	<div className="frame">
		<ul className="images" style="transform: translate(-100%)">
			{
			props.children &&
				React.Children.map(props.children, child => (
					<li className="item">
						<figure className="figure">
							<ElementImage
								width={1300}
								height={740}
								bgcolor="B3CFCF"
								fgcolor="23364F"
								/>
							<figcaption className="caption h2-1">Lorem ipsum sit dolor amet</figcaption>
						</figure>
					</li>
				))
			}
		</ul>
	</div>
	<div className="controls">
		<li className="prev">Zurück</li>
		<li className="next">Vor</li>
	</div>
	<div className="info">Info</div>
	<ElementPager>
		{props.children}
	</ElementPager>
</section>
