.mod-locations {
	padding: @s2-moduleGap-s-1 0;

	.h,
	.sub {
		margin: 0 @s2-moduleGap-s-1 @s2-moduleGap-s-1;
	}

	.city {
		margin-bottom: @s2-moduleGap-s-1;
	}
	
	.teaser {
		position: relative;
		//margin: @s2-moduleGap-s-1 0 0 @s2-moduleGap-s-2;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: @s2-moduleGap-s-1;
			z-index: -1;
			background-color: @s2-lightgrey;
		}
	}
	
	.locnav {
		display: flex;
		justify-content: space-around;
		padding-left: @s2-moduleGap-s-1;
		.item {
			flex: 1 1 auto;
			padding: @s2-moduleGap-s-1/3 0;
			text-align: center;
		}
	}

	.figure {
		display: flex;
		flex-direction: column;
		.caption {
			order: 2;
			position: relative;
			z-index: 1;
			padding-left: @s2-moduleGap-s-1;
		}
		.teaser {
			order: 1;
			margin-bottom: -@s2-moduleGap-s-1;
		}
	}
	
	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1;

		.h,
		.sub {
			text-align: center;
		}
		
		.h
		.city {
			margin-bottom: @s2-moduleGap-m-1/2;
		}
		
		.sub {
			margin-bottom: @s2-moduleGap-m-1;
		}


		.teaser {
			&::before {
				right: -@s2-moduleGap-m-1;
				left: @s2-moduleGap-m-3;
			}
		}
		
		.locnav {
			padding-left: @s2-moduleGap-m-3;
		}

		.figure {
			.caption {
				padding-left: @s2-moduleGap-m-1;
			}
			.teaser {
				margin-bottom: -@s2-moduleGap-m-2;
			}
		}
		
	}

	@media @s2-mq-window-desktop {
		display: flex;
		flex-direction: column;
		padding: @s2-moduleGap-l-1 @s2-moduleGap-l-2;

		.h {
			order: 1;
			margin-bottom: @s2-moduleGap-l-1;
		}

		.city {
			margin-bottom: @s2-moduleGap-l-1/2;
		}

		.sub {
			order: 4;
			width: 68%;
			margin-left: auto;
			margin-bottom: 0;
		}

		.teaser {
			&::before {
				right: -@s2-moduleGap-l-1;
				bottom: -@s2-moduleGap-l-1;
				left: @s2-moduleGap-l-2;
			}
		}
		
		.locnav {
			order: 2;
			padding-left: @s2-moduleGap-l-2;
		}

		.figure {
			order: 3;
			flex-direction: row;
			.caption {
				order: 1;
				flex: 1 1 auto;
				align-self: center;
				padding-left: 0;
			}
			.teaser {
				order: 2;
				width: 68%;
				margin-bottom: @s2-moduleGap-l-1;
			}
		}

	}
}
