<section class="locations">
	<h2 class="h h2-1">Standorte</h2>
	<p class="sub copy">Perle an der Elbe. Heimathafen von SinnerSchrader.</p>
	<ol class="locnav">
		<li class="item active">Hamburg</li>
		<li class="item">München</li>
		<li class="item">Frankfurt</li>
	</ol>
	<figure class="locimg" data-location="hamburg">
		<figcaption class="caption">
			<h3 class="loc h3">Hamburg</h3>
			<h4 class="h4">SinnerSchrader</h4>
			<p class="copy">
				Völckersstr. 38<br />
				22765 Hamburg<br />
				+49 40 39 88 55 - 0
			</p>
			<% include './styleguide/components/element_button/template.html', { label: 'Zum Office' } %>
		</figcaption>
		<div class="teaser"><% include './styleguide/components/element_image/template.html', { width: 810, height: 530 } %></div>
	</figure>
</section>
