<section class="mod-locations">
	<h2 class="h h2-1">Standorte</h2>
	<p class="sub copy">Perle an der Elbe. Heimathafen von SinnerSchrader.</p>
	<figure class="figure" data-location="hamburg">
		<figcaption class="caption">
			<h3 class="city h3">Hamburg</h3>
			<h4 class="h4">SinnerSchrader</h4>
			<p class="copy">
				Völckersstr. 38<br />
				22765 Hamburg<br />
				+49 40 39 88 55 - 0
			</p>
			<% include './styleguide/components/element_button/template.html', { label: 'Zum Office' } %>
		</figcaption>
		<div class="teaser">
			<ol class="locnav">
				<li class="item active"><span class="link">Hamburg</span></li>
				<li class="item"><span class="link">München</span></li>
				<li class="item"><span class="link">Frankfurt</span></li>
			</ol>
			<% include './styleguide/components/element_image/template.html', { width: 810, height: 530 } %>
		</div>
	</figure>
</section>
