<section class="mod-locationintro" itemscope="itemscope" itemtype="http://schema.org/Corporation">
	<div class="details">
		<p itemprop="description" class="copy">Gegründet als Start-up, gewachsen zu einem der führenden Digitalagenturen Europas – ohne das Start-up-Feeling zu verlieren.</p>
		<div class="copy address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<h2 itemprop="name" class="h4">SinnerSchrader</h2>
			<span itemprop="streetAddress">Völckerstr. 38</span><br />
			<span itemprop="postalCode">22765 <span itemprop="addressLocality">Hamburg</span></span>
			<meta content="Deutschland" itemprop="addressCountry" /><br />
			<span itemprop="telephone">+49 40 39 88 55 - 0</span>
		</div>
	</div>
	<div class="teaser"><% include './styleguide/components/element_image/template.html', { width: 439, height: 580 } %></div>
	<p class="h3 emails">
		<a href="#" class="link" itemprop="email">info@sinnerschrader.com</a>
		<a href="#" class="link" itemprop="email">hh@sinnerschrader.jobs</a>
	</p>
</section>
