.mod-socialfellow {
	padding: @s2-moduleGap-s-1;
	text-align: center;
	
	.h {
		margin-bottom: @s2-moduleGap-s-1/2;
	}

	.smn {
		justify-content: center;

		.nw {
			margin: 0 @smnDim 0;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	@media @s2-mq-window-tablet {
		padding: @s2-moduleGap-m-1;

		.h {
			display: inline;
		}
	
		.smn {
			display: inline-flex;
			vertical-align: middle;
			.nw {
				&:first-child {
					margin-left: @s2-moduleGap-m-1/2;
				}
			}
		}
	}

	@media @s2-mq-window-desktop {
		padding: @s2-moduleGap-l-1;
	}

}
