<section class="mod-outcome" style="background-image: url('//placehold.it/2880x1620/D0E33A/FFF/&text=1140x810');">
	<h2 class="h h3">Outcome</h2>
	<ul class="figures h3">
		<li class="item">
			<figure class="figure">
				<span class="fig">2</span> M
				<figcaption class="caption h4">Unique visitors</figcaption>
			</figure>
		</li>
		<li class="item">
			<figure class="figure">
				<span class="fig">14</span> K
				<figcaption class="caption h4">Referring Links</figcaption>
			</figure>
		</li>
		<li class="item">
			<figure class="figure">
				<span class="fig">2</span> M
				<figcaption class="caption h4">Unique visitors</figcaption>
			</figure>
		</li>
		<li class="item">
			<figure class="figure">
				<span class="fig">14</span> K
				<figcaption class="caption h4">Referring Links</figcaption>
			</figure>
		</li>
	</ul>
	<p class="copy h4">Two million visits per month marked Curved as one of the most successful technology and gadget blogs in Germany.</p>
</section>
